<!DOCTYPE html>
<html lang="zh-tw">
<base href="/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>ETALKING</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <link rel="apple-touch-icon" sizes="57x57" href="images/touch-icon_57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="images/touch-icon_72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="images/touch-icon_114x114.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="images/touch-icon_144x144.png" />
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/single.css" />
</head>

<body class="orange">

<header>
	<nav class="row menu-wrapper">
		<h1 class="logo"><a href="/" target="_blank"><span>ETALKING</span></a></h1>
	</nav>
</header>
<div class="content">

<div class="content material-box">

    <div class="row member-box">
        <div class="columns small-12 large-7 large-centered">
            <h2 class="text-left primary">HAVING TROUBLE LOGGING INTO YOUR ETALKING  ACCOUNT?</h2>
        </div>
        <div class="columns small-12 medium-10 medium-centered large-7 large-centered">
          <div class="row form-box">
		  
			<div class="columns small-12 large-12 login_error" style="display:none">
                <div class="alert-box alert radius">
                  帳號錯誤
                </div>
            </div>
			<div class="columns small-12 large-12 login_success" style="display:none">
                <div class="alert-box success">
                 您的密碼已經發送到您的電子信箱
                </div>
            </div>

			
			<form class="fill">
            <div class="columns small-12 large-12 large-centered">
              <div class="row collapse prefix-radius">

                <div class="small-12 columns">

                 <label>請輸入您的帳號
                  <input type="text" name="account" placeholder="Enter your ID">
                 </label>

                </div>
              </div>
            </div>

            <div class="columns small-12 medium-6 large-6 text-left">
				<!-- <div class="g-recaptcha" data-sitekey="{$CAPCHA_PUBLIC_KEY}"></div> -->
            </div>
            <div class="columns small-12 medium-4">
                <a class="button solid round expand aline-code submit">確定</a>
            </div>			
			</form>
			
          </div>

        </div>

    </div>

</div>

</div>
<!--a class="gotop no-text"><span>TOP</span></a-->
<footer class="withlogo">
    <img src="images/logo_footer.png" alt="">
</footer>
<div class="copyright">Copyright © 2016 文樺數位互動股份有限公司</div>
<!-- JS -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="js/foundation/foundation.js"></script>
<script src='https://www.google.com/recaptcha/api.js'></script>
<script src="js/single.js"></script>
<!-- @@placeholder=js -->
<script src="js/crud.enterprise.js"></script>
<script src="js/enterprise.forgot.js"></script>
</body>
</html>