
<!-- Repeat a block without writing inline JS--><!DOCTYPE html>
<html lang="zh-tw">
<base href="/">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <!-- og-->
    <!--
    <meta name="keywords" content="keywords" />
    <meta name="description" content="keywords" />
    -->
    <title>ETALKING</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="images/touch-icon_57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/touch-icon_72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/touch-icon_114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/touch-icon_144x144.png">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Css-->
 
    <link rel="stylesheet" href="css/style_page.css">
	
    <script>
    (window._bwtm = window._bwtm || []).push({mid: 9588, pid: 'action'});
    </script>
    <script async src="//rec.scupio.com/recweb/js/rec.js"></script>
    <script>
    (scupioconv = window.scupioconv || []).push({bwp: 900, bwpid: 'action'});
    </script>
    <script async src="//img.scupio.com/js/conv.js"></script>


  </head>

<body>
  <div class="outer-menu outer-menu-enterprise hide-for-large-up">
    <input type="checkbox" class="checkbox-toggle">
    <div class="hamburger">
      <div></div>
    </div>
    <div class="menu">
      <div>
        <div>
          <ul>
            <li><a href="/enterprise/employee">學習紀錄</a></li>
            <li><a href="/enterprise/account">我的帳戶</a></li>
            <li><a>常見問題</a></li>
            <li><a>硬體環境測試</a></li>
            <li><a href="/enterprise/logout">登出</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <header class="stick header-enterprise">
    <nav class="row menu-wrapper">
      <h1 class="logo">ETALKING</h1>
      <ul class="main-menu">
        <li><a href="/enterprise/employee">學習紀錄</a></li>
        <li><a href="/enterprise/account">我的帳戶</a></li>
        <li><a>常見問題</a></li>
        <li><a>硬體環境測試</a></li>
        <div class="menu-move-bar"></div>
      </ul><a href="/enterprise/logout" class="logout show-for-large-up"><img src="images/icon_logout.png" alt="登出">登出</a>
    </nav>
  </header>