	<!--
	<div class="class-top class-top-enterprise">
      <div class="class-top-inner">
        <div class="row">
          <div class="class-top-title class-top-title-enterprise columns large-4">
            <h2>企業專區</h2>
            <h3> <b>Stella Chen</b></h3>
            <p> <b>合約期限 </b><a href="enterprise_account_contract.html"><span>2015-05-06 ~ 2018-05-06</span></a></p>
          </div>
          <div class="class-top-sum class-top-sum-enterprise columns large-8">
            <ul>
              <li><a href="enterprise_account_points.html"><span class="num">260</span></a><b>剩餘點數</b></li>
              <li><a href="enterprise_class.html"><span class="num">0</span></a><b>已預約課程</b></li>
              <li><a href="enterprise_class.html"><span class="num">0</span></a><b>即將開始課程</b></li>
              <li>
                <div class="level-circle enterprise"> <span >A1</span></div><b>等級</b>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
	-->