{include="header"}
<link rel="stylesheet" href="css/style_page.css">

  <div class="class">
  
    {include="profile"}
	
    <div class="breadcrumbs row"><a href="/"><img src="images/icon_home.png" alt="" class="home"></a><a href="/student">學員專區</a><span>我的帳戶-合約資料</span></div>
    <nav class="nav-groups nav-groups-student">
      <ul>
        <li><a href="/student/account">帳戶設定</a></li>
        <li><a href="/student/points">點數明細</a></li>
        <li><a href="/student/contract" class="active">合約資料</a></li>
        <li><a href="/student/rule">學員公約暨上課須知</a></li>
      </ul>
    </nav>
     <div class="class-note class-note-student">
      <p> <span>付款須知</span>
      ATM匯款、零息分期之付款銀行帳戶將透過客服簡訊通知。
      <br>如已完成付款請聯繫業務人員為您進行開通。</p>
    </div>
    <div class="main-title">
      <h2>【<span>{$plan_name}</span>】</h2>
      <h4 class="account_title"><span>合約總額&nbsp;<span>{function="number_format($contract1['price'])"}</span>&nbsp;元</span>
          <span>&nbsp;&nbsp;&nbsp;已付總額&nbsp;<span>{function="number_format($paid_total)"}</span>&nbsp;元</span>
          <span>&nbsp;&nbsp;&nbsp;總筆數&nbsp;<span>{$period_total}</span>&nbsp;筆</span>
          <span>&nbsp;&nbsp;&nbsp;剩餘筆數&nbsp;<span>{$period_balance}</span>&nbsp;筆</span>
          <a href="/student/{if="$contract1['signed']!=10"}contract_signing?id={$id}{else}contract_history?id={$id}{/if}" target="_blank" class="button">查看合約內容</a></h4>
    </div>
    <div class="search-filter search-filter-student"></div>
    <div class="account-table account-table-student row">
      <table>
        <thead>
          <td>狀態</td>
          <td>筆數</td>
          <td>本期金額</td>
          <td>截止日期</td>
          <td>付款日期</td>
          <td>付款方式</td>
          <td>備註說明</td>
          <td></td>
        </thead>

		{loop="$data"}
        <tr>
          <td data-title="狀態">
            {if="$value['paid_time']=='0000-00-00 00:00:00'"}
			<span class="class-account-tag class-account-tag-student">未付款</span>
			{else}
			<span class="class-account-tag class-account-checked-tag-student">已付款</span>
			{/if}
          </td>
          <td data-title="期數">{$key+1}</td>
          <td data-title="本期金額" class="column-price column-price-student">NT$<span class="price">{function="number_format($value['total'])"}</span>元</td>
          <td data-title="截止日期" class="column-date">2016/05/28<span>00:00</span></td>
          <td data-title="付款日期" class="column-date">{if="$value['paid_time']!='0000-00-00 00:00:00'"}{function="date('Y/m/d',strtotime($value['paid_time']))"} <span>{function="date('H:i',strtotime($value['paid_time']))"}</span>{/if}</td>
          <td data-title="付款方式" class="column-pay">
		{if="($value['payment']==20 || $value['payment']==30) && $value['paid_time']=='0000-00-00 00:00:00'"}
            {$payment[$value['payment']]}<br>
            <input type="radio" name="pay_{$value['id']}" value="10"><label class="click_pay" id="10">{$cctype[10]}</label><br>
            <input type="radio" name="pay_{$value['id']}" value="20"><label class="click_pay" id="20">{$cctype[20]}</label>
		{else}
			{$payment[$value['payment']]}
		{/if}		
          </td>
          <td data-title="備註說明">{$value['memo']}</td>
          <td class="column-button column-button-student">
		  {if="($value['payment']==20 || $value['payment']==30) && $value['paid_time']=='0000-00-00 00:00:00'"}
		  <button class="button gotopay" data-id="{$value['id']}" >確認付款</button>
		  {/if}
		  </td>
        </tr>
		{/loop}
		
      </table>
      <div class="contract-button"><a href="javascript:history.back();" class="button">返回列表</a></div>
    </div>
  </div>
{include="footer"}



 <script>
	$('.gotopay').click(function(){
		var id = $(this).data('id');
		var val = $('input[name=pay_'+ id +']:checked').val();
		if(val==undefined){
			dialog_student("請選擇金流系統");
			return false;
		}
		var gateway = 'allpay';
		if(val==20) gateway = 'ezpay';
		//window.open("/"+ gateway +"/pay/"+id);
		document.location = "/"+ gateway +"/pay/"+id;
	});
	$('.click_pay').click(function(){
		$(this).parent().find("input[type=radio][value="+$(this).prop('id')+"]").prop('checked',true);
	});
 </script>

