{include="header"}

  <div class="class">
  
    {include="profile"}
	
    <div class="breadcrumbs row"><a href="/"><img src="images/icon_home.png" alt="" class="home"></a><a href="/student">學員專區</a><span>我的帳戶-學員公約暨上課須知</span></div>
    <nav class="nav-groups nav-groups-student">
      <ul>
        <li><a href="/student/account">帳戶設定</a></li>
        <li><a href="/student/points">點數明細</a></li>
        <li><a href="/student/contract">合約資料</a></li>
        <li><a href="/student/rule" class="active">學員公約暨上課須知</a></li>
      </ul>
    </nav>
    <div class="contract row">
      <h4>學員公約</h4>
      <ul>
        <li>1. E-Talking個人帳號與課程僅限學員本人使用，禁止將個人帳號提供他人使用，若發現有此現象，將無條件取消您的上課資格並且不予退費。</li>
        <li>2.若學員無法於預約時間上課，請於課前24小時登入學員中心或來電取消當次課程。凡未於課前24小時取消或來電告知的情況，該堂課照常列入計算，視為已上課的堂數。</li>
        <li>3. 學員上課前請確認線上課程設備(電腦，耳機，麥克風，網路，行動裝置...等)皆能良好連線與正常使用，若因學員設備故障造成無法上課的狀況，則該堂課程照常列入計算。</li>
        <li>4. 課程進行時請尊重教學老師，若對教學方式與課程內容有疑慮，請於課後向服務顧問反應，我們將立即進行瞭解。</li>
        <li>5. 惡意破壞上課秩序者，將依規定取消您的上課資格。</li>
        <li>6. 學員與老師間應保持相互尊重，不得以言語、文字或其他等不當方式，進而侮辱或騷擾老師，經老師反應並查證屬實後，將依規定取消您的上課資格，情節重大者將依循法律途徑處理。</li>
        <li>7. 學員可自行將課程錄下複習，但禁止用於商業行為，或以任何形式公開播放。</li>
        <li>8. 為維護良好學習品質，上課時請勿飲食，並請關閉其他視窗與即時通訊軟體。</li>
        <li>9. 可免費享有本機構海外遊留學，托福、多益等考試之顧問諮詢。</li>
        <li>10. E-Talking線上課程教材由老師提供，欲取得全部教材請學員自行購買。</li>
        <li>11. 學生自行向老師購課，容易衍生消費糾紛，此部份本公司不負相關責任。本公司嚴禁老師私下招生，如有類似情形發生，請直接通報服務顧問處理。</li>
      </ul>
     
      <h4>學員權益</h4>
      <ul>
        <li>1. 「7日鑑賞期」：
          <br>E-Talking學員享有7天鑑賞期權益，相關鑑賞期退費方式分為下列狀況，請遵照以下原則辦理：
          <br>依付款日起算7日內皆未上課，酌收行政作業費用500元後，將原購課金額全額無息退還學員。
          <br>學員於購買課程7日內已上課者，所上課程依原價計算，扣除已上課程費用並酌收行政作業費用500元後，剩餘金額無息退還學生。</li>
        <li>2. 「退費」：
          <br>若您經與服務顧問研商後，仍決定退費，請遵照以下原則辦理：
          <ul>
            <li>
              <h5><b>2-1退費說明</b></h5>
              總堂數：為學員實際購買之堂數。
              <br>上課期限已過者，不予退費。
              <br>如欲退費，已上過之贈課部份依課程原價另行扣除費用。
              <br>任何退費申請，依規定收取行政作業費用500元。
            </li>
            <li>
              <h5><b>2-2退費標準</b></h5>
              自註冊繳清後，已過7天鑑賞期但未使用任何課程者，退還70%學費。
              <br>自第一堂上課起，未逾該次購課總堂數三分之一者(有上過贈課的部分也列入已上過課程統計)，退還50%學費。
              <br>(以上若學員為購課7日內，請依「7日鑑賞期」規定辦理)
              <br>已上課逾總堂數三分之一者(有上過贈課的部分也列入已上過課程統計)，學費不予退還。
              <br>有特殊原因無法上課者請洽服務顧問。
            </li>
          </ul>
        </li>
        <li>3. 「暫停」：
          <br>學員若因故需提出課程暫停申請，請檢附相關具體文件，暫停期間最長不得超過半年，且一套課程僅限乙次。
        </li>
        <li>4. 「轉讓」：
          <br>課程轉讓或轉換不另收手續費。贈課開課後不得轉換其它課程，親屬或是相互推薦者得轉讓贈課。
        </li>
        <li>5. 「課程延期」：
          <br>學員開通課程若無法於規定期限內上完課程，可向服務顧問提出申請課程延期。
          <br>展延費一個月為1000元以此類推，需於課程有效期間內提出，課程結束後不得提出。
          <br>需檢附相關具體文件，並經本公司審核同意。逾期未提出申請者視同放棄，不得再延期
          <br>若無佐證資料，課程延期最長不得超過總課程期間的四分之一。
        </li>
      </ul>

      <h4>上課須知</h4>
      <p>上課時間為週一至週日早上14:00 - 晚上22:00。</p>

      <h4>上課注意事項</h4>
      <p>若課程進行中，網路斷線請即刻向服務顧問反應，若斷線為老師端因素且達10分鐘以上，則補一堂課給學員。</p>
         
      <h4>學員請假規則</h4>
      <ul>
        <li>1. 請假以堂數為基本單位。</li>
        <li>2. 請於上課時間1小時前 ，自行上課程系統點選請假按紐，超過時間時間規定，請假按紐會自動消失，無法請假。</li>
        <li>3. 未到或未按規定時間、方式完成請假手續，視同上課，自動扣堂數。</li>
        <li>4. 請假次數規定如下：
          <ul>
            <li>-購買100堂課學員，請假次數以5次為限，超過視同上課，自動扣堂數。</li>
            <li>-購買200堂課學員，請假次數以10次為限，超過視同上課，自動扣堂數。</li>
            <li>-購買300堂課學員，請假次數以15次為限，超過視同上課，自動扣堂數。</li>
            <li>-購買400堂課學員，請假次數以20次為限，超過視同上課，自動扣堂數。</li>
            <li>-購買500堂課學員，請假次數以25次為限，超過視同上課，自動扣堂數。</li>
          </ul>
        </li>
      </ul>
      <h4>其他</h4>
      <ul>
        <li>1. 我們是合法的立案公司行號，如需申請上課證明，我們也會在課程結束後另外提供上課證書以茲證明。</li>
        <li>2.若需開立三聯式收據/發票，請在報名前先行告知， 請提供貴公司全名、統一編號、中文姓名和郵寄住址。</li>
        <li>3.若學生有特殊課程需求，教材需另行購買或自行提供。</li>
        <li>4.各類課程老師們會準備自己教材供網路使用，本平台為媒合教師與學生時間的媒介，不提供教材與MP3。</li>
      </ul>
   
  </div>

{include="footer"}