<div class="content material-box">
	<div class="page-banner_static banner-about">
		<div class="page-title white row">
			<h2 class="">關於我們</h2>
		</div>
	</div>

    <section class="about-start">
    	<div class="breadcrumbs row text-left">
			<a href="/"><img src="images/icon_home.png" alt="" class="home"></a><span>關於我們</span>
		</div>
    	<div class="row">
	    	<div class="columns small-12 medium-6 large-12">
				<!--<h2 class="text-center">Change. Better. You.</h2>-->
				<!--<h2 class="text-center blue whywhat">WHY <span></span> WHO</h2>-->
				<h3 class="text-center"> 改變，成就更好的自己</h3>
				<div class="text-box text-center">
					<p>我們是一群走過不同國家、接觸過許多教育文化、來自各界線上對教學具有熱枕的英語教學第二外語(ESL)團隊所共同創立，這群專業團隊致力於線上英語教學的教材、課程設計、平台技術及教學服務，為所有學員提供最有效率的語言學習方案。</p>
					<p>坊間的線上教學可以說是不勝枚舉，但真的在乎學員進步、適時為學員做學習調整、確實落實CEFR語言架構的又有幾間呢？我們想要提供的不是學員一次性的消費，而是永續學習的概念，我們沒有過多的文字包裝，強調去蕪存菁、改變創新，才會給學員更好。</p>
					<p>過往的教育只是培育著我們的下一代<br>不斷地在封建的體系下循環再循環，而非真正的讓你與世界溝通封閉的框架讓你無法實際的與國際接軌</p>
					<p>學習，其實可以很有趣！<br>我們希望每位加入的學員，都能具備英語這項國際語言去探索這個未知的世界</p>
					<p>不妨問問自己…<br>想學英文卻沒有機會嗎？<br>一成不變的課本，讓你學習起來枯燥乏味嗎？<br>與程度不同的人一起學習，覺得難上加難嗎？<br>學英文讓你覺得特別困難，令人沮喪嗎？<br>想要擁有一口流利英文，卻沒有空間可以練習嗎？</p>
					<p>這一次，是為自己改變的時候了！<br>而我們，將會是你在學習英文旅程上的最佳夥伴！</p>
					<p>我們敢說，我們跟別人不一樣！</p>
				</div>
	    	</div>
	    	<div class="img-box"><img src="images/about/01.png" alt=""></div>
    	</div>
    </section>

    <section class="about-what">
		<div class="row">
			<div class="columns small-12 medium-10 medium-offset-1 large-8 large-offset-2 text-center about-text">
				<h2>顛覆傳統 堅持創新</h2>
				<p>打破過去傳統的實體教學模式<br>顛覆學習者的學習迷思及觀念<br>提供創新完整規劃的學習方向<br>傳遞真正能學好英語的教學理念</p>
				<P>我們不再只是看似線上英文教學，卻只是找個老外與你聊天。<br>Etalking致力於建置完善的學習系統，<br>讓線上英語不再只是英語聊天室<br>我們真正注重的是每位學生學習英文的起步點<br>透過完整的程度分級教材、搭配多元主題的課程，確切落實學習英文的進級計畫<br>帶給你的是另一種全新的學習英語態度</p>
				
			</div>
			<div class="columns small-12 text-center">
				<a href="/home/classes" class="btn">了解更多</a>
			</div>
			<div class="columns small-12 about-what-img-mobile">
				<img src="images/about/02_what_mobile.png" alt="">
			</div>
		</div>
	</section>
	<section class="about-how">
		<div class="row">
			<div class="columns small-12 text-center about-text">
				<h2>靠自己走入世界</h2>
			</div>
			<div class="columns small-12 medium-6 large-4 large-offset-1 about-text about-how-text">
				<p>想繼續再舊有的學習框架打轉?<br>還是嘗試改變自己，加入我們？<br>一起掀起英文教學的新時代<br>我們幫助每位學員精準的瞭解自己英語程度<br>搭配最專業的師資團隊、獨創的教學法，運用時下最夯的線上教材完善的課後追蹤，打造專屬每位學員的進步模式。</p>
				<p>Dream big, set goals, take action<br>改變，是為了更好</p>
				<!--<a href="#ContactUsNow" class="btn">Jion us Now!</a>-->
			</div>
			<div class="columns small-12 medium-6 large-7">
				<img src="images/about/03_how_mobile.png" alt="">
			</div>
		</div>
	</section>

	<!--<section class="page-contact">
		<div class="text-wrapper">
			<h4>填寫資料</h4>
			<p>TEL 02-2760-7768  |  FAX  02-2760-5898</p>
			<form action="" class="row etalking-form">
				<div class="columns small-12 medium-6 large-6">
					<input type="text" placeholder="姓名" value="">
				</div>
				<div class="columns small-12 medium-6 large-6">
					<input type="text" placeholder="電話" value="">
				</div>
				<div class="columns small-12 medium-6 large-6">
					<input type="text" placeholder="Email" value="">
				</div>
				<div class="columns small-12 medium-6 large-6 form-time" data-dropdown="contact-time" aria-controls="contact-time">
					<input type="text" placeholder="聯絡時間" value="" disabled>
					<ul class="form-time-select" id="contact-time" data-dropdown-content aria-hidden="true" tabindex="-1">
						<li><a href="#!" data-time="10:00~12:00">10:00~12:00</a></li>
						<li><a href="#!" data-time="13:00~15:00">13:00~15:00</a></li>
						<li><a href="#!" data-time="15:00~17:00">15:00~18:00</a></li>
					</ul>
				</div>
				<button class="btn white" onclick="return false">送出</button>
			</form>
		</div>
	</section>-->
</div>

<script>
	$('.main-menu').addClass('page');
	$('.main-menu li').eq(3).find('a').addClass('active');
</script>