<div class="content material-box">
	<div class="page-banner_static banner-busi">
		<div class="page-title row">
			<h2 class="">企業方案</h2>
		</div>
	</div>
	<div class="breadcrumbs row">
		<a href="/"><img src="images/icon_home.png" alt="" class="home"></a><span>企業方案</span>
	</div>

    <section class="cefr-content">
	    <div class="row">
	    	<div class="columns small-12 large-10 large-offset-1">
	    		<h5><br>面對國際化的商業環境，每一位員工都是企業的對外大使，對於企業聲譽及整體形象的塑造扮演著舉 足輕重的角色。為此，ETALKING了解各企業的特殊學習需求，並依據企業需求、員工英文程度等條件，共分為ANALYZE、EVALUATE、DESIGN、DEVELOP四階段，依不同產業特性、需求，量身規劃企業專屬英文訓練課程，並有效達到員工培訓計畫的目的，可大幅提昇公司員工的國際英語溝通能力。<br><br>依照企業預算、學習需求及程度分級進行團體課程，提供專業課程規劃、學習進度、學程管理、成果報告及保證滿意等服務，輔導學員循序漸進、提昇英語實力，達成公司目標。另外，ETALKING提供企業界全新專屬管理服務，隨時提供企業管理者線上管理學員上課出勤、選課紀錄、學習進度、老師回饋及學習評量報告等資訊，並設立企業專屬服務顧問師，協助管理者隨時掌握每一位學員的學習追蹤，有效達到公司培訓的期待。</h5><br><br><h4 class="blue">教育訓練的重要</h4><br><h5>教育訓練，是企業人力資源管理與開發的重要組成部分和關鍵職能，是企業人力資源資產增值的重要途徑，也是企業組織效益提高的重要途徑。員工教育訓練是要培養和養成企業全員共同的價值觀、增強組織凝聚力、忠誠度及向心力的關鍵性作業，持續的進步與成長，除了增進專業技能外，最重要的就是英語力的提升培訓。</h5><br><br><h4 class="blue">Why we’re your English learning solution</h4><br><h5>1. 搭配CEFR(歐洲共同語言參考標準) 精準評估學習起步點<br>2. 重視進步效果 掌握課後追蹤<br>3. 遵照CEFR統一規範的專業師資培訓<br>4. 最貼近生活時事課程 完整商務系列教材<br>5. 專業的顧問團隊 規劃企業客製化方案及整體學習的方向<br>6. 企業專屬管理系統</h5>
	    	</div>
	    </div>
	</section>

	<section class="busi-start-img">
		<ul>
			<li>
				<div class="text-box text-center">
					<h4 class="blue">公司教育訓練</h4>
					<p>由企業內部教育訓練或人力資源連結策略。依企業員工、中階主管、<br>關鍵人才及高階主管四大對象，分別規劃適合職位的主題情境。<br>依照公司培訓規劃，可限定某些部門同事，或是開放給全體員工自由報名，<br>亦可依照企業需求、欲上課人數、分級分班、每週欲上課堂數及預算，<br>提供客製化全方位的語言培訓服務。</p>
				</div>
				<div class="img-box">
					<img src="images/busi/01_company.jpg" alt="">
				</div>
			</li>
			<li>
				<div class="text-box text-center">
					<h4 class="blue">個人進修</h4>
					<p>依照公司各部門需要進修的員工進行規劃，鼓勵員工自行進修。<br>可由企業統一或員工自行報名，依照學員需加強的商務主題或是依興<br>趣喜好挑選適合的課程，彈性選擇方便上課時間，另特別針對企業高階主管，<br>提供專屬1對1的客制課程。根據公司福利或是個人預算，<br>評估英文程度，規劃個人專屬長期或短期語言訓練課程。</p>
				</div>
				<div class="img-box">
					<img src="images/busi/01_person.jpg" alt="">
				</div>
			</li>
		</ul>
	</section>

	<section class="busi-teacher">
		<h2 class="title">師資介紹</h2>
		<div class="row">
			<h4 class="title-tip small-space">ETALKING提供兼具教育熱忱、產業實務及豐富教學經驗之專業師資，來自全球世界各地，教師資格由顧問團隊嚴格篩選把關，通過ETALKING的完整教育訓練，進階培訓及定期參與研討會後都具有CEFR教學能力教學內容符合企業實務應用，幫企業員工同步提升英語能力與工作效能。</h4>
			<div class="columns small-12">
				<ul class="small-block-grid-6 busi-teacher-cont">
					<li><span><img src="images/icon/cont_us.jpg" alt=""></span></li>
					<li><span><img src="images/icon/cont_uk.jpg" alt=""></span></li>
					<li><span><img src="images/icon/cont_ca.jpg" alt=""></span></li>
					<li><span><img src="images/icon/cont_au.jpg" alt=""></span></li>
					<li><span><img src="images/icon/cont_tw.jpg" alt=""></span></li>
					<li><span><img src="images/icon/cont_za.jpg" alt=""></span></li>
				</ul>
			</div>
		</div>
		<div class="text-center busi-teacher-map">
			<img src="images/busi/02_man.png" alt="">
		</div>
	</section>

	<!--<section class="class-teacher">
		<h2 class="title blue">真人教師介紹</h2>
		<div class="row">
			<div class="etalking-slide teacher-list">
				<div class="columns small-12 medium-3">
					<img src="images/class/06_01.jpg" alt="">
					<h4>Peter Ewington</h4>
					<div class="intro-text">
						<p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreetLorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismodLorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean </p>
						<p class="text-small">科技公司品質工程部 李仁杰經理 惡搞版飛天小女警 惡搞版飛天小女警 </p>
					</div>
				</div>
				<div class="columns small-12 medium-3">
					<img src="images/class/06_02.jpg" alt="">
					<h4>Peter Ewington</h4>
					<div class="intro-text">
						<p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreetLorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismodLorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreetLorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod</p>
					</div>
				</div>
				<div class="columns small-12 medium-3">
					<img src="images/class/06_03.jpg" alt="">
					<h4>Peter Ewington</h4>
					<div class="intro-text">
						<p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreetLorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismodLorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreetLorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod</p>
					</div>
				</div>

				<div class="columns small-12 medium-3">
					<img src="images/class/06_01.jpg" alt="">
					<h4>Peter Ewington</h4>
					<div class="intro-text">
						<p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreetLorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismodLorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean </p>
						<p class="text-small">科技公司品質工程部 李仁杰經理 惡搞版飛天小女警 惡搞版飛天小女警 </p>
					</div>
				</div>
				<div class="columns small-12 medium-3">
					<img src="images/class/06_02.jpg" alt="">
					<h4>Peter Ewington</h4>
					<div class="intro-text">
						<p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreetLorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismodLorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreetLorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod</p>
					</div>
				</div>
				<div class="columns small-12 medium-3">
					<img src="images/class/06_03.jpg" alt="">
					<h4>Peter Ewington</h4>
					<div class="intro-text">
						<p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreetLorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismodLorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreetLorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod</p>
					</div>
				</div>
			</div>
		</div>
	</section>-->

	<section class="busi-success">
		<h2 class="title">企業合作夥伴</h2>
		<div class="row">
			<div class="columns  small-12">
				<ul class="etalking-slide busi_success-list">
					<!-- Cut1 -->
					<li class="item">
						<img src="images/busi/comp_01.png" alt="台灣積體電路製造公司">
						<img src="images/busi/comp_06.png" alt="惠利特－普克德公司/HP">
						<img src="images/busi/comp_11.png" alt="TDK株式會社">
						<img src="images/busi/comp_09.png" alt="聯詠科技股份有限公司">
					</li>
					<li class="item">
						<img src="images/busi/comp_02.png" alt="群創光電">
						<img src="images/busi/comp_07.png" alt="台灣高速鐵路">
						<img src="images/busi/comp_12.png" alt="中華電信">
						<img src="images/busi/comp_45.png" alt="全家便利商店">
					</li>
					<li class="item">
						<img src="images/busi/comp_03.png" alt="台達電子工業">
						<img src="images/busi/comp_08.png" alt="遠東航空股份公司">
						<img src="images/busi/comp_13.png" alt="日產汽車/NISSAN">
						<img src="images/busi/comp_14.png" alt="正達國際光電股份有限公司">
					</li>
					<li class="item">
						<img src="images/busi/comp_04.png" alt="奇美實業">
						<img src="images/busi/comp_43.png" alt="BenQ 明基友達集團">
						<img src="images/busi/comp_44.png" alt="統一企業">
						<img src="images/busi/comp_46.png" alt="金士頓科技公司">
					</li>
					<li class="item">
						<img src="images/busi/comp_42.png" alt="英業達股份有限公司">
						<img src="images/busi/comp_10.png" alt="屈臣氏個人護理店">
						<img src="images/busi/comp_05.png" alt="台灣康寧顯示玻璃股份有限公司">
						<img src="images/busi/comp_47.png" alt="宏碁股份有限公司/acer">
					</li>


					<!-- Cut2 -->
					<li class="item">
						<img src="images/busi/comp_48.png" alt="三星科技股份有限公司">
						<img src="images/busi/comp_16.png" alt="茂迪股份有限公司">
						<img src="images/busi/comp_31.png" alt="台灣凸版國際彩光">
						<img src="images/busi/comp_49.png" alt="合勤科技">
					</li>
					<li class="item">
						<img src="images/busi/comp_50.png" alt="矽格股份有限公司">
						<img src="images/busi/comp_17.png" alt="金穎生物科技股份有限公司">
						<img src="images/busi/comp_51.png" alt="工業技術研究院">
						<img src="images/busi/comp_52.png" alt="凌陽科技股份有限公司">
					</li>
					<li class="item">
						<img src="images/busi/comp_53.png" alt="聯發科技股份有限公司">
						<img src="images/busi/comp_20.png" alt="台達電子文教基金會">
						<img src="images/busi/comp_54.png" alt="保德信">
						<img src="images/busi/comp_64.png" alt="億光電子工業股份有限公司">
					</li>
					<li class="item">
						<img src="images/busi/comp_55.png" alt="裕隆集團">
						<img src="images/busi/comp_19.png" alt="南部科學工業園區">
						<img src="images/busi/comp_56.png" alt="光寶科技">
						<img src="images/busi/comp_57.png" alt="旭硝子顯示玻璃股份有限公司">
					</li>
					<li class="item">
						<img src="images/busi/comp_58.png" alt="長榮大學EMBA研究會">
						<img src="images/busi/comp_18.png" alt="晶元光電">
						<img src="images/busi/comp_59.png" alt="AMEC 中微半導體">
						<img src="images/busi/comp_60.png" alt="新日光能源科技股份有限公司">
					</li>


					<!-- Cut3 -->
					<li class="item">
						<img src="images/busi/comp_21.png" alt="旺能光電股份有限公司">
						<img src="images/busi/comp_26.png" alt="日本康肯工程技術有限公司">
						<img src="images/busi/comp_29.png" alt="高昕科技股份有限公司">
						<img src="images/busi/comp_35.png" alt="北儒精密">
					</li>
					<li class="item">
						<img src="images/busi/comp_22.png" alt="港香蘭應用生技股份有限公司">
						<img src="images/busi/comp_27.png" alt="奇美食品">
						<img src="images/busi/comp_15.png" alt="瀚宇彩晶股份有限公司">
						<img src="images/busi/comp_36.png" alt="慶康科技股份有限公司">
					</li>
					<li class="item">
						<img src="images/busi/comp_23.png" alt="101生活網">
						<img src="images/busi/comp_28.png" alt="達創科技股份有限公司">
						<img src="images/busi/comp_32.png" alt="國際日東科技股份有限公司">
						<img src="images/busi/comp_37.png" alt="景岳生物科技股份有限公司">
					</li>
					<li class="item">
						<img src="images/busi/comp_24.png" alt="奇菱科技股份有限公司">
						<img src="images/busi/comp_61.png" alt="正文科技股份有限公司">
						<img src="images/busi/comp_33.png" alt="大億科技股份有限公司">
						<img src="images/busi/comp_38.png" alt="新應材股份有限公司">
					</li>
					<li class="item">
						<img src="images/busi/comp_25.png" alt="奇景光電股份有限公司">
						<img src="images/busi/comp_30.png" alt="台灣捷恩智股份有限公司">
						<img src="images/busi/comp_34.png" alt="旺矽科技股份有限公司">
						<img src="images/busi/comp_62.png" alt="台灣美光記憶體股份有限公司">
					</li>

					<!-- Cut4 -->
					<li class="item">
						<img src="images/busi/comp_63.png" alt="全方位的福利委外夥伴">
						<img src="images/busi/comp_39.png" alt="崑仰電子股份有限公司">
						<img src="images/busi/comp_40.png" alt="Power Solutions">
						<img src="images/busi/comp_41.png" alt="Power LED">
					</li>
				</ul>
				
			</div>
		</div>
	</section>

		<!-- <section class="busi-success">
		<h2 class="title">企業合作夥伴</h2>
		<div class="row">
			<div class="columns small-12">
				<ul class="etalking-slide busi_success-list">
					<li class="item">
						<img src="images/busi/com_01.png" alt="">
						
					</li>
					<li class="item">
						<img src="images/busi/com_02.png" alt="">
						
					</li>
					<li class="item">
						<img src="images/busi/com_03.png" alt="">
					
					</li>
					<li class="item">
						<img src="images/busi/com_04.png" alt="">
						
					</li>
					<li class="item">
						<img src="images/busi/com_05.png" alt="">
						
					</li>
				</ul>
				<ul class="etalking-slide busi_success-list">
					<li class="item">
						<img src="images/busi/com_06.png" alt="">
						
					</li>
					\
				</ul>
			</div>
		</div>
	</section> -->

	<!--<section class="class-witness">
		<h2 class="title">學員見證</h2>
		<div class="row witness">
			<div class="columns small-12">
				<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
					<li class="item">
						<a href="javascript:;">
							<div class="img-box">
								<img src="images/img/witness_01.png" alt="">
							</div>
							<div class="text-box">
								<p>科技公司品質工程部 李仁杰經理 惡搞版飛天小女警 惡搞版飛天小女警 </p>
							</div>
						</a>
					</li>
					<li class="item">
						<a href="javascript:;">
							<div class="img-box">
								<img src="images/img/witness_02.png" alt="">
							</div>
							<div class="text-box">
								<p>科技公司品質工程部 李仁杰經理 惡搞版飛天小女警 惡搞版飛天小女警 </p>
							</div>
						</a>
					</li>
					<li class="item">
						<a href="javascript:;">
							<div class="img-box">
								<img src="images/img/witness_03.png" alt="">
							</div>
							<div class="text-box">
								<p>科技公司品質工程部 李仁杰經理 惡搞版飛天小女警 惡搞版飛天小女警 </p>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</section>

	<section class="page-contact">
		<div class="text-wrapper">
			<h4>填寫資料</h4>
			<p>TEL 02-2760-7768  |  FAX  02-2760-5898</p>
			<form action="" class="row etalking-form">
				<div class="columns small-12 medium-6 large-6">
					<input type="text" placeholder="姓名" value="">
				</div>
				<div class="columns small-12 medium-6 large-6">
					<input type="text" placeholder="電話" value="">
				</div>
				<div class="columns small-12 medium-6 large-6">
					<input type="text" placeholder="Email" value="">
				</div>
				<div class="columns small-12 medium-6 large-6 form-time" data-dropdown="contact-time" aria-controls="contact-time">
					<input type="text" placeholder="聯絡時間" value="" disabled>
					<ul class="form-time-select" id="contact-time" data-dropdown-content aria-hidden="true" tabindex="-1">
						<li><a href="#!" data-time="10:00~12:00">10:00~12:00</a></li>
						<li><a href="#!" data-time="13:00~15:00">13:00~15:00</a></li>
						<li><a href="#!" data-time="15:00~17:00">15:00~18:00</a></li>
					</ul>
				</div>
				<button class="btn white" onclick="return false">送出</button>
			</form>
		</div>
	</section>-->
</div>
<script src="js/vendor/slick.js"></script>
<script src="js/business.js"></script>
<script>
	$('.main-menu').addClass('page');
	$('.main-menu li').eq(2).find('a').addClass('active');
</script>