<div class="content material-box">
	<div class="page-banner_static banner-busi">
		<div class="page-title row">
			<h2 class="">企業方案</h2>
		</div>
	</div>
	<div class="breadcrumbs row">
		<a href="/"><img src="images/icon_home.png" alt="" class="home"></a><span>企業方案</span>
	</div>

    <section class="busi-start">
	    <div class="row">
	    	<div class="columns small-12 large-10 large-offset-1">
	    		<h5>現今國際化商場上激烈競爭。為此，ETALKING了解各企業的特殊學習需求，並依據企業需求、員工英文程度等條件，共分為Analyze、Evaluate、Design、Develop四階段，依不同產業特性、需求，量身規劃企業專屬英文訓練課程，並有效達到員工培訓計畫的目的，且可大幅提昇公司員工的國際英語溝通能力。<br><br>針對企業內部人員，依企業預算、學習需求及程度分級進行團體課程，提供專業課程規劃、學習進度、學程管理、成果報告及保證滿意等服務，輔導學員循序漸進、提昇英語實力，達成公司目標。<br>另外，ETALKING提供企業界全新E化服務，隨時提供HR線上管理學員上課出勤、學習進度、學員回饋及學習評量報告等資訊，並設立HR專屬服務顧問師，協助HR省時省力，隨時掌握學員最佳學習。</h5>
	    	</div>
	    </div>
	</section>

	<section class="busi-start-img">
		<ul>
			<li>
				<div class="text-box text-center">
					<h4 class="blue">公司教育訓練</h4>
					<p>由企業內部教育訓練或人力資源連結策略。
					<p>依企業員工、中階主管、關鍵人才及高階主管四大對象，
					<br>分別規劃適合職位的主題情境。也可依照企業需求，
					<br>提供客製化的全方位的語言培訓服務。</p>
				</div>
				<div class="img-box">
					<img src="images/busi/01_company.jpg" alt="">
				</div>
			</li>
			<li>
				<div class="text-box text-center">
					<h4 class="blue">個人進修補助</h4>
					<p>由企業員工自行報名。(公司給員工福利)</p>
					<p>根據個人預算，評估英文程度，並負責測試及設計課程，<br>規劃個人專屬長期或短期語言訓練課程。</p>
				</div>
				<div class="img-box">
					<img src="images/busi/01_person.jpg" alt="">
				</div>
			</li>
		</ul>
	</section>

	<section class="busi-teacher">
		<h2 class="title">師資介紹</h2>
		<div class="row">
			<h4 class="title-tip small-space">ETALKING提供兼具教育熱忱、產業實務及豐富教學經驗之專業師資，來自全球世界各地，教師資格由顧問團隊嚴格篩選把關，通過ETALKING的完整教育訓練，進階培訓及定期參與研討會後都具有CEFR教學能力教學內容符合企業實務應用，幫企業員工同步提升英語能力與工作效能。</h4>
			<div class="columns small-12">
				<ul class="small-block-grid-6 busi-teacher-cont">
					<li><span><img src="images/icon/cont_us.jpg" alt=""></span></li>
					<li><span><img src="images/icon/cont_uk.jpg" alt=""></span></li>
					<li><span><img src="images/icon/cont_ca.jpg" alt=""></span></li>
					<li><span><img src="images/icon/cont_au.jpg" alt=""></span></li>
					<li><span><img src="images/icon/cont_tw.jpg" alt=""></span></li>
					<li><span><img src="images/icon/cont_za.jpg" alt=""></span></li>
				</ul>
			</div>
		</div>
		<div class="text-center busi-teacher-map">
			<img src="images/busi/02_man.png" alt="">
		</div>
	</section>

	<!--<section class="class-teacher">
		<h2 class="title blue">真人教師介紹</h2>
		<div class="row">
			<div class="etalking-slide teacher-list">
				<div class="columns small-12 medium-3">
					<img src="images/class/06_01.jpg" alt="">
					<h4>Peter Ewington</h4>
					<div class="intro-text">
						<p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreetLorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismodLorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean </p>
						<p class="text-small">科技公司品質工程部 李仁杰經理 惡搞版飛天小女警 惡搞版飛天小女警 </p>
					</div>
				</div>
				<div class="columns small-12 medium-3">
					<img src="images/class/06_02.jpg" alt="">
					<h4>Peter Ewington</h4>
					<div class="intro-text">
						<p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreetLorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismodLorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreetLorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod</p>
					</div>
				</div>
				<div class="columns small-12 medium-3">
					<img src="images/class/06_03.jpg" alt="">
					<h4>Peter Ewington</h4>
					<div class="intro-text">
						<p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreetLorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismodLorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreetLorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod</p>
					</div>
				</div>

				<div class="columns small-12 medium-3">
					<img src="images/class/06_01.jpg" alt="">
					<h4>Peter Ewington</h4>
					<div class="intro-text">
						<p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreetLorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismodLorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean </p>
						<p class="text-small">科技公司品質工程部 李仁杰經理 惡搞版飛天小女警 惡搞版飛天小女警 </p>
					</div>
				</div>
				<div class="columns small-12 medium-3">
					<img src="images/class/06_02.jpg" alt="">
					<h4>Peter Ewington</h4>
					<div class="intro-text">
						<p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreetLorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismodLorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreetLorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod</p>
					</div>
				</div>
				<div class="columns small-12 medium-3">
					<img src="images/class/06_03.jpg" alt="">
					<h4>Peter Ewington</h4>
					<div class="intro-text">
						<p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreetLorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismodLorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreetLorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="busi-success">
		<h2 class="title">企業成功案例</h2>
		<div class="row">
			<div class="columns small-12">
				<ul class="etalking-slide busi_success-list">
					<li class="item">
						<img src="images/busi/logo_01.png" alt="">
						<img src="images/busi/logo_02.png" alt="">
					</li>
					<li class="item">
						<img src="images/busi/logo_03.png" alt="">
						<img src="images/busi/logo_04.png" alt="">
					</li>
					<li class="item">
						<img src="images/busi/logo_05.png" alt="">
						<img src="images/busi/logo_06.png" alt="">
					</li>
					<li class="item">
						<img src="images/busi/logo_07.png" alt="">
						<img src="images/busi/logo_08.png" alt="">
					</li>

					<li class="item">
						<img src="images/busi/logo_01.png" alt="">
						<img src="images/busi/logo_02.png" alt="">
					</li>
					<li class="item">
						<img src="images/busi/logo_03.png" alt="">
						<img src="images/busi/logo_04.png" alt="">
					</li>
					<li class="item">
						<img src="images/busi/logo_05.png" alt="">
						<img src="images/busi/logo_06.png" alt="">
					</li>
					<li class="item">
						<img src="images/busi/logo_07.png" alt="">
						<img src="images/busi/logo_08.png" alt="">
					</li>
				</ul>
			</div>
		</div>
	</section>

	<section class="class-witness">
		<h2 class="title">學員見證</h2>
		<div class="row witness">
			<div class="columns small-12">
				<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
					<li class="item">
						<a href="javascript:;">
							<div class="img-box">
								<img src="images/img/witness_01.png" alt="">
							</div>
							<div class="text-box">
								<p>科技公司品質工程部 李仁杰經理 惡搞版飛天小女警 惡搞版飛天小女警 </p>
							</div>
						</a>
					</li>
					<li class="item">
						<a href="javascript:;">
							<div class="img-box">
								<img src="images/img/witness_02.png" alt="">
							</div>
							<div class="text-box">
								<p>科技公司品質工程部 李仁杰經理 惡搞版飛天小女警 惡搞版飛天小女警 </p>
							</div>
						</a>
					</li>
					<li class="item">
						<a href="javascript:;">
							<div class="img-box">
								<img src="images/img/witness_03.png" alt="">
							</div>
							<div class="text-box">
								<p>科技公司品質工程部 李仁杰經理 惡搞版飛天小女警 惡搞版飛天小女警 </p>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</section>

	<section class="page-contact">
		<div class="text-wrapper">
			<h4>填寫資料</h4>
			<p>TEL 02-2760-7768  |  FAX  02-2760-5898</p>
			<form action="" class="row etalking-form">
				<div class="columns small-12 medium-6 large-6">
					<input type="text" placeholder="姓名" value="">
				</div>
				<div class="columns small-12 medium-6 large-6">
					<input type="text" placeholder="電話" value="">
				</div>
				<div class="columns small-12 medium-6 large-6">
					<input type="text" placeholder="Email" value="">
				</div>
				<div class="columns small-12 medium-6 large-6 form-time" data-dropdown="contact-time" aria-controls="contact-time">
					<input type="text" placeholder="聯絡時間" value="" disabled>
					<ul class="form-time-select" id="contact-time" data-dropdown-content aria-hidden="true" tabindex="-1">
						<li><a href="#!" data-time="10:00~12:00">10:00~12:00</a></li>
						<li><a href="#!" data-time="13:00~15:00">13:00~15:00</a></li>
						<li><a href="#!" data-time="15:00~17:00">15:00~18:00</a></li>
					</ul>
				</div>
				<button class="btn white" onclick="return false">送出</button>
			</form>
		</div>
	</section>-->
</div>
<script src="js/vendor/slick.js"></script>
<script src="js/business.js"></script>
<script>
	$('.main-menu').addClass('page');
	$('.main-menu li').eq(2).find('a').addClass('active');
</script>