<div class="content material-box">
	<div class="page-banner_static banner-cefr">
		<div class="page-title row">
			<h2 class="">什麼是CEFR？</h2>
		</div>
	</div>
	<div class="breadcrumbs row">
		<a href="/"><img src="images/icon_home.png" alt="" class="home"></a><span>什麼是CEFR？</span>
	</div>

    <section class="cefr-content">
		<h2 class="title">CEFR整體能力分級說明</h2>
		<div class="row">
			<div class="account-table account-table-student">
				<table>
					<thead>
						<tr>
							<td colspan="2">CEFR語言能力參考指標</td>
							<td>A1</td>
							<td>A2</td>
							<td>B1</td>
							<td>B2</td>
							<td>C1</td>
							<td>C2</td>
						</tr>
					</thead>
						<tr>
						<td data-title="CEFR語言能力參考指標" class="column-title column-title-student" colspan="2">全民英檢 (GEPT)</td>
						<td data-title="A1">&nbsp;</td>
						<td data-title="A2">初級</td>
						<td data-title="B1">中級</td>
						<td data-title="B2">中高級</td>
						<td data-title="C1">高級</td>
						<td data-title="C2">優級</td>
						</tr>
					<tr>
						<td data-title="CEFR語言能力參考指標" class="column-title column-title-student" colspan="2">全球英檢</td>
						<td data-title="A1">A1</td>
						<td data-title="A2">A2</td>
						<td data-title="B1">B1</td>
						<td data-title="B2">B2</td>
						<td data-title="C1">C1</td>
						<td data-title="C2">C2</td>
					</tr>
					<tr>
						<td data-title="CEFR語言能力參考指標" class="column-title column-title-student" colspan="2">多益測驗 TOEIC</td>
						<td data-title="A1">&nbsp;</td>
						<td data-title="A2">390&nbsp;+</td>
						<td data-title="B1">457&nbsp;+</td>
						<td data-title="B2">527&nbsp;+</td>
						<td data-title="C1">560&nbsp;+</td>
						<td data-title="C2">630&nbsp;+</td>
					</tr>
					<tr>
						<td data-title="CEFR語言能力參考指標" class="column-title column-title-student hide-for-large-up" rowspan="3">托福TOEFL 紙筆 型態</td>
						<td data-title="CEFR語言能力參考指標" class="column-title column-title-student show-for-large-up" rowspan="3">托福TOEFL</td>
						<td data-title="CEFR語言能力參考指標" class="column-title column-title-student show-for-large-up">紙筆 型態</td>
						<td data-title="A1">&nbsp;</td>
						<td data-title="A2">90&nbsp;+</td>
						<td data-title="B1">137&nbsp;+</td>
						<td data-title="B2">197&nbsp;+</td>
						<td data-title="C1">220&nbsp;+</td>
						<td data-title="C2">267&nbsp;+</td>
					</tr>
					<tr>
						<td data-title="CEFR語言能力參考指標" class="column-title column-title-student hide-for-large-up" rowspan="3">托福TOEFL 電腦 型態</td>
						<td data-title="CEFR語言能力參考指標" class="column-title column-title-student show-for-large-up">電腦 型態</td>
						<td data-title="A1">&nbsp;</td>
						<td data-title="A2">57&nbsp;+</td>
						<td data-title="B1">79&nbsp;+</td>
						<td data-title="B2">83&nbsp;+</td>
						<td data-title="C1">109&nbsp;+</td>
						<td data-title="C2">&nbsp;</td>
					</tr>
					<tr>
						<td data-title="CEFR語言能力參考指標" class="column-title column-title-student hide-for-large-up" rowspan="3">托福TOEFL 網路 型態</td>
						<td data-title="CEFR語言能力參考指標" class="column-title column-title-student show-for-large-up">網路 型態</td>
						<td data-title="A1">&nbsp;</td>
						<td data-title="A2">225&nbsp;+</td>
						<td data-title="B1">550&nbsp;+</td>
						<td data-title="B2">750&nbsp;+</td>
						<td data-title="C1">880&nbsp;+</td>
						<td data-title="C2">950&nbsp;+</td>
					</tr>
					<tr>
						<td data-title="CEFR語言能力參考指標" class="column-title column-title-student" colspan="2">IELTS</td>
						<td data-title="A1">&nbsp;</td>
						<td data-title="A2">3&nbsp;+</td>
						<td data-title="B1">4&nbsp;+</td>
						<td data-title="B2">5.5&nbsp;+</td>
						<td data-title="C1">6.5&nbsp;+</td>
						<td data-title="C2">7.5&nbsp;+</td>
					</tr>
					<tr>
						<td data-title="CEFR語言能力參考指標" class="column-title column-title-student" colspan="2">全民網路英語能力檢定(NETPAW)</td>
						<td data-title="A1">基礎級</td>
						<td data-title="A2">初級</td>
						<td data-title="B1">中級</td>
						<td data-title="B2">中高級</td>
						<td data-title="C1">高級</td>
						<td data-title="C2">C</td>
					</tr>
				</table>
				<p>教育部為加速推動國內英檢測驗國際標準化，於94年6月28日(台社(一)字第0940075287C號令)通函各政府機構及學校單位改採全世界唯一國際通用之歐盟語言能力指標(CEFR，Common European Framework of Reference for Languages：Learning，Teaching，assessment「歐洲語言學習、教學、評量共同參考架構」)，作為「台灣官方英語能力指標」。</p>
			</div>
			<div class="columns small-12">
				<h4 class="blue">CEFR使用國家-Use of CEFR around the world</h4>
				<p>CEFR在2001年起被英國、法國、德國、義大利、比利時、丹麥、德國、香港、台灣、日本、紐西蘭、智利、墨西哥、哥倫比亞、加拿大、盧森堡、荷蘭、愛爾蘭、丹麥、希臘、西班牙、葡萄牙、 奧地利、瑞典、芬蘭、 塞浦路斯、 捷克、 愛沙尼亞、匈牙利、拉脫維亞、立陶宛、馬爾他、波蘭、斯洛伐克、 羅馬尼亞、 保加利亞，這些國家使用CEF共同語言參考架構於課程設計，教學方法、教材規劃、師資培訓與評量工具，作為語言測驗的統一標準。</p>
			</div>
		</div>
		<div class="text-center cefr-map">
			<img src="images/cefr/map.png" alt="CEFR使用國家-Use of CEFR around the world">
		</div>
		<div class="row">
			<div class="columns small-12">
				<h4 class="blue">CEFR精神與基本內涵</h4>
				<p>目前國際上公認的三種重要英語能力指標為：</p>
				<ul>
					<li>（一）歐洲議會的「歐洲語言學習、教學、評量共同參考架構」（Common European Framework of Reference, CEFR）；</li>
					<li>（二）美國外語教師協會編定的外語能力指標（American Council on the Teaching of Foreign Language, ACTFL）；</li>
					<li>（三）加拿大語言能力指標（Canadian Language Benchmarks, CLB）。</li>
				</ul>
				<p>語言能力指標的建立是一項耗時耗力的專業工作，以歐洲議會所採用的CEFR來說，其發展是自七○年代的英語能力門閥（English Threshold Level）開始，經過長達二十多年的研究，從許多語言學習理論的概念整合以及可行性的修正，最後才有今天的成果。</p>
				<p>CEFR全名為Common European Framework of Reference，教育部譯為「歐洲語言學習、教學、評量共同參考架構」，是由歐洲議會（Council of Europe）專為語言的課程設計、測驗、學習等所發展的一套架構，目的在促進歐盟的溝通、合作與團結 。CEFR將語言能力，依照聽、說、讀、寫、互動等數個面向，由初級到高級界定為六級— A1、A2、B1、B2、C1、C2。在每一級裡，各項語言能力，均有明確的描述。CEFR所界定的能力指標（descriptors），說明了語言學習者所能表現的語言行為。CEFR在界定語言能力時，概括了語言使用者的一般能力、語言溝通能力、語言活動、以及語言使用的社會情境。</p>
			</div>
		</div>
	</section>
</div>

<script>
	$('.main-menu').addClass('page');
	$('.main-menu li').eq(1).find('a').addClass('active');
</script>