<div class="content material-box">
	<div class="page-banner_static banner-class">
		<div class="page-title row">
			<h2 class="">課程特色</h2>
		</div>
	</div>
	<div class="breadcrumbs row">
		<a href="/"><img src="images/icon_home.png" alt="" class="home"></a><span>課程特色</span>
	</div>
	<section class="row class-start">
		<div class="columns small-12">
			<h4 class="text-center">ETALKING幫助你在學習英文的旅途中不孤單，隨時陪你一起規劃下一步。</h4>
			<ul class="class-start-icon">
				<li><img src="images/class/01_start_0.png" alt="ETALKING Start"></li>
				<li class="show-for-large-up"><img src="images/class/01_start_4.png" alt="ETALKING Start"></li>
				<li><img src="images/class/01_start_1.png" alt="ETALKING Start"><span>激發你對英文的興趣</span></li>
				<li class="show-for-large-up"><img src="images/class/01_start_4.png" alt="ETALKING Start"></li>
				<li><img src="images/class/01_start_2.png" alt="ETALKING Start"><span>找尋你對英文的熱情</span></li>
				<li class="show-for-large-up"><img src="images/class/01_start_4.png" alt="ETALKING Start"></li>
				<li><img src="images/class/01_start_3.png" alt="ETALKING Start"><span class="search">探索你對語文的潛在動力</span></li>
			</ul>
			<div class="text-center">
				<img src="images/class/01_start_people.png" alt="ETALKING Start">
			</div>
		</div>
	</section>

	<section class="class-what">
		<h2 class="title">什麼是CEFR？</h2>
		<div class="row">
			<h4 class="title-tip small-space">CEFR是一套明確標準的歐洲共同語言參考架構，依據標準執行檢定及指導，使你的英文能力能循序漸進的成長。<br> 每一階段皆有系統化的學習目標，以準確評估你的程度。</h4>
			<div class="columns small-12">
				<ul class="large-block-grid-4 small-block-grid-1 class-what-list">
					<li><span>將安排適合你所屬的等級的老師來教學，進而提升並實現目前等級的能力。</span></li>
					<li><span>學習教材會是專門為你的等級能力所獨家設計的，實踐因材施教的理念。</span></li>
					<li><span>讓你清楚明白自己在各種不同的社交環境中所運用英文的能力及水平。</span></li>
					<li><span>精準判斷學習起步點，安排適當符合等級課程。</span></li>
				</ul>
			</div>
			<div class="columns small-12 text-center">
				<a href="/home/cefr" class="btn">了解更多</a>
			</div>
			<div class="columns small-12 class-what-img show-for-large-up">
				<img src="images/class/02_what_01.png" alt="">
				<img src="images/class/02_what_02.png" alt="">
				<img src="images/class/02_what_03.png" alt="">
				<img src="images/class/02_what_04.png" alt="">
				<img src="images/class/02_what_05.png" alt="">
				<img src="images/class/02_what_06.png" alt="">
				<img src="images/class/02_what_07.png" alt="">
			</div>
			<div class="columns small-12 hide-for-large-up class-what-img-mobile">
				<img src="images/class/02_what_mobile.png" alt="">
			</div>
		</div>
	</section>

	<section class="class-teaching">
		<h2 class="title">多元教材</h2>
		<div class="row">
			<h4 class="title-tip">多變化的教材，帶給你全新視野。</h4>
			<div class="etalking-slide teaching-list">
				<div class="columns small-12 medium-3">
					<img src="images/class/03_teaching_01.png" alt="">
					<h4>觀光旅遊</h4>
					<p class="text">自助旅行不再只是想像，從出國旅遊到發現世界各地名勝古蹟，出國無負擔，語言無國界，面對海關也敢開口說ABC。</p>
				</div>
				<div class="columns small-12 medium-3">
					<img src="images/class/03_teaching_02.png" alt="">
					<h4>世界文化</h4>
					<p class="text">相互通過學習人類思想與行為的精華來達到完美。</p>
				</div>
				<div class="columns small-12 medium-3">
					<img src="images/class/03_teaching_03.png" alt="">
					<h4>美食烹飪</h4>
					<p class="text">了解各地飲食文化上的不同，各國料理如何完美呈現？滿足不同消費者對美食的追求。</p>
				</div>
				<div class="columns small-12 medium-3">
					<img src="images/class/03_teaching_04.png" alt="">
					<h4>健康醫療</h4>
					<p class="text">以健康養生、醫療新知為主，致力於提供專業、即時、樂活的健康資訊。</p>
				</div>
				<div class="columns small-12 medium-3">
					<img src="images/class/03_teaching_05.png" alt="">
					<h4>休閒運動</h4>
					<p class="text">探討現代人的閒暇之餘所從事的休閒運動與戶外休憩。</p>
				</div>
				<div class="columns small-12 medium-3">
					<img src="images/class/03_teaching_06.png" alt="">
					<h4>科技探索</h4>
					<p class="text">探索自然奧秘，普及科學知識，破解歷史謎團，發現宇宙奧秘，保護生態環境。</p>
				</div>
				<div class="columns small-12 medium-3">
					<img src="images/class/03_teaching_07.png" alt="">
					<h4>趣味生活</h4>
					<p class="text">利用趣味性地角度介紹日常的生活經驗和熟悉的事物為基礎。</p>
				</div>
				<div class="columns small-12 medium-3">
					<img src="images/class/03_teaching_08.png" alt="">
					<h4>工作職涯</h4>
					<p class="text">讓職場英語達人教你找對方向、撰寫履歷、戰勝面試，找工作、職業訓練、職涯規劃的致勝關鍵。</p>
				</div>
				<div class="columns small-12 medium-3">
					<img src="images/class/03_teaching_09.png" alt="">
					<h4>商用英文</h4>
					<p class="text">教你輕鬆學會最實用的辦公室英文， 面試、簡報、開會、接待外賓、email信件溝通都能應對自如，進階職場新人生！</p>
				</div>
				<div class="columns small-12 medium-3">
					<img src="images/class/03_teaching_10.png" alt="">
					<h4>人際關係</h4>
					<p class="text">如何用英文開啟話題？如何將話題做衍生？使用最道地英文會話，讓你與世界溝通不再有阻礙，交朋友再也無國界囉！</p>
				</div>
				<div class="columns small-12 medium-3">
					<img src="images/class/03_teaching_11.png" alt="">
					<h4>創業知能</h4>
					<p class="text">具備創業所需的知識與能力，讓創業不再只是夢，而是可實踐的目標。</p>
				</div>
				<div class="columns small-12 medium-3">
					<img src="images/class/03_teaching_12.png" alt="">
					<h4>自然人文</h4>
					<p class="text">跟隨學者的腳步，進一步深入了解各地自然環境與人文文化。</p>
				</div>
			</div>
			<div class="columns small-12 text-center">
				<!--<a href="#ContactUsNow" class="btn">了解更多</a>-->
			</div>
		</div>
	</section>

	<section class="class-profession">
		<h2 class="title">專業課程</h2>
		<div class="row">
			<h4 class="title-tip">量身規劃商務組合課程，結合工作專業技能，最值得的自我投資。</h4>
			<div class="columns small-12">
				<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3 profession-list">
					<li>
						<img src="images/class/04_profession_01.png" alt="">
						<h4>國際會議實用英文</h4>
						<p class="text">學習各種會議的用語與恰當的表達說法，掌握會議的成功要件，了解如何靈活運用專業性的單字與句型來主持會議，並實地演練參與會議中的所有流程。(包括：提議、說服、妥協、提出異議、整合意見、解決方法等…)。</p>
					</li>
					<li>
						<img src="images/class/04_profession_02.png" alt="">
						<h4>業務談判與協商英文</h4>
						<p class="text">談判，工作場合中最重要的一環，如何用純熟流暢的語言能力來清楚完整表達公司立場，為公司謀取更多的利益，學習熟悉各種談判英文詞彙及語法，瞭解不同情境與談判技巧，增加談判氣勢與強化信心，精準掌握協商步驟達成協議。</p>
					</li>
					<li>
						<img src="images/class/04_profession_03.png" alt="">
						<h4>商務英文書信</h4>
						<p class="text">還在使用best wishes結尾嗎？如何寫好一封具有專業、有禮與簡潔的書信內容，並能精準表達出其中的意思、這絕對是職場上最重要且必須具備的專業能力。</p>
					</li>
					<li>
						<img src="images/class/04_profession_04.png" alt="">
						<h4>電話英文溝通</h4>
						<p class="text">正式與非正式的電話接聽技巧，設計辦公室各種情境，透過模擬與演練，讓學生處理電話溝通問題，如何致電至國外客戶、轉接來電與電話留言等專業電話禮儀的訓練，擁有流暢電話英文溝通的能力，絕對是外商公司最基本的要求。</p>
					</li>
					<li>
						<img src="images/class/04_profession_05.png" alt="">
						<h4>英文社交禮儀</h4>
						<p class="text">如何介紹彼此與交換名片？機場接送如何讓外賓感受賓至如歸？接待外賓的用餐相關禮儀？如何建立與客戶的良好關係並創造話題？學習了解對方文化背景及國際禮儀，增進客戶對公司的良好印象與信任感。</p>
					</li>
					<li>
						<img src="images/class/04_profession_06.png" alt="">
						<h4>英文簡報</h4>
						<p class="text">如何完整介紹英文簡報流程、擬定簡報大綱，開場白的設計以及論點的清楚說明？又如何展現自信並善用肢體語言來輔助簡報呢？利用角色扮演及密集互動的教學方式，讓你學會如何完成一個效率高、資訊豐富、說服力強的英文簡報。</p>
					</li>
				</ul>
			</div>
		</div>
	</section>

	<section class="class-map">
		<h2 class="title">全球化師資</h2>
		<div class="row">
			<h4 class="title-tip small-space">ETALKING提供兼具教育熱忱、產業實務及豐富教學經驗之專業師資，來自全球世界各地，學生可享有不同文化、不同背景、不同口音的學習老師，教師資格由顧問團隊嚴格篩選把關，通過ETALKING的完整教育訓練，進階培訓後都具有CEFR教學能力，均符合循序漸進的系列課程及企業實務應用，幫助學生在最短的時間內提升英文能力。</h4>
		</div>
		<div class="class-map-cont show-for-large-up" class="">
			<img src="images/class/05_map.png" alt="特色的全球師資">
			<div class="country uk"><span><img src="images/class/05_cont_01.jpg" alt="英國"></span></div>
			<div class="country us"><span><img src="images/class/05_cont_02.jpg" alt="美國"></span></div>
			<div class="country au"><span><img src="images/class/05_cont_03.jpg" alt="澳大利亞"></span></div>
			<div class="country tw"><span><img src="images/class/05_cont_04.jpg" alt="台灣"></span></div>
			<div class="country za"><span><img src="images/class/05_cont_05.jpg" alt="南非"></span></div>
			<div class="country ca"><span><img src="images/class/05_cont_06.jpg" alt="加拿大"></span></div>
		</div>
		<div class="class-map-cont hide-for-large-up" class="">
			<img src="images/class/05_map_mobile.png" alt="特色的全球師資">
		</div>
	</section>

	<!--<section class="class-teacher">
		<h2 class="title blue">真人教師介紹</h2>
		<div class="row">
			<div class="etalking-slide teacher-list">
				<div class="columns small-12 medium-3">
					<img src="images/class/06_01.jpg" alt="">
					<h4>Peter Ewington</h4>
					<div class="intro-text">
						<p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreetLorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismodLorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean </p>
						<p class="text-small">科技公司品質工程部 李仁杰經理 惡搞版飛天小女警 惡搞版飛天小女警 </p>
					</div>
				</div>
				<div class="columns small-12 medium-3">
					<img src="images/class/06_02.jpg" alt="">
					<h4>Peter Ewington</h4>
					<div class="intro-text">
						<p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreetLorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismodLorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreetLorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod</p>
					</div>
				</div>
				<div class="columns small-12 medium-3">
					<img src="images/class/06_03.jpg" alt="">
					<h4>Peter Ewington</h4>
					<div class="intro-text">
						<p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreetLorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismodLorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreetLorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod</p>
					</div>
				</div>

				<div class="columns small-12 medium-3">
					<img src="images/class/06_01.jpg" alt="">
					<h4>Peter Ewington</h4>
					<div class="intro-text">
						<p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreetLorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismodLorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean </p>
						<p class="text-small">科技公司品質工程部 李仁杰經理 惡搞版飛天小女警 惡搞版飛天小女警 </p>
					</div>
				</div>
				<div class="columns small-12 medium-3">
					<img src="images/class/06_02.jpg" alt="">
					<h4>Peter Ewington</h4>
					<div class="intro-text">
						<p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreetLorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismodLorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreetLorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod</p>
					</div>
				</div>
				<div class="columns small-12 medium-3">
					<img src="images/class/06_03.jpg" alt="">
					<h4>Peter Ewington</h4>
					<div class="intro-text">
						<p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreetLorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismodLorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreetLorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="class-witness">
		<h2 class="title">學員見證</h2>
		<div class="row witness">
			<div class="columns small-12">
				<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
					<li class="item">
						<a href="javascript:;">
							<div class="img-box">
								<img src="images/img/witness_01.png" alt="">
							</div>
							<div class="text-box">
								<p>科技公司品質工程部 李仁杰經理 惡搞版飛天小女警 惡搞版飛天小女警 </p>
							</div>
						</a>
					</li>
					<li class="item">
						<a href="javascript:;">
							<div class="img-box">
								<img src="images/img/witness_02.png" alt="">
							</div>
							<div class="text-box">
								<p>科技公司品質工程部 李仁杰經理 惡搞版飛天小女警 惡搞版飛天小女警 </p>
							</div>
						</a>
					</li>
					<li class="item">
						<a href="javascript:;">
							<div class="img-box">
								<img src="images/img/witness_03.png" alt="">
							</div>
							<div class="text-box">
								<p>科技公司品質工程部 李仁杰經理 惡搞版飛天小女警 惡搞版飛天小女警 </p>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</section>

	<section class="class-envi">
		<h2 class="title">環境介紹</h2>
		<div class="envi-mobile">
			<div class="img-box">
				<img src="images/class/07_computer.png" alt="">
				<span class="dot dot-1">•</span>
				<span class="dot dot-2">•</span>
				<span class="dot dot-3">•</span>
				<span class="dot dot-4">•</span>
				<span class="dot dot-5">•</span>
			</div>
			<div class="envi-item item-1">
				<h5>教材頁面</h5>
				<p>可根據不同行動裝置平台，觀看上課內容</p>
			</div>
			<div class="envi-item item-2">
				<h5>筆記功能</h5>
				<p>讓老師能夠在上課途中，即時加強做筆記</p>
			</div>
			<div class="envi-item item-3">
				<h5>即時影像</h5>
				<p>讓學員了解老師的發音與嘴型，並感受與外國師資面對面對談的臨場感</p>
			</div>
			<div class="envi-item item-4">
				<h5>舉手發問功能</h5>
				<p>學生有狀況，老師能在第一時間得知</p>
			</div>
			<div class="envi-item item-5">
				<h5>聊天室功能</h5>
				<p>提供老師與學生即時交談，分享資訊，當您遇到問題也可以與專員即時聯繫</p>
			</div>
		</div>
	</section>

	<section class="page-contact">
		<div class="text-wrapper">
			<h4>填寫資料</h4>
			<p>TEL 02-2760-7768  |  FAX  02-2760-5898</p>
			<form action="" class="row etalking-form">
				<div class="columns small-12 medium-6 large-6">
					<input type="text" placeholder="姓名" value="">
				</div>
				<div class="columns small-12 medium-6 large-6">
					<input type="text" placeholder="電話" value="">
				</div>
				<div class="columns small-12 medium-6 large-6">
					<input type="text" placeholder="Email" value="">
				</div>
				<div class="columns small-12 medium-6 large-6 form-time" data-dropdown="contact-time" aria-controls="contact-time">
					<input type="text" placeholder="聯絡時間" value="" disabled>
					<ul class="form-time-select" id="contact-time" data-dropdown-content aria-hidden="true" tabindex="-1">
						<li><a href="#!" data-time="10:00~12:00">10:00~12:00</a></li>
						<li><a href="#!" data-time="13:00~15:00">13:00~15:00</a></li>
						<li><a href="#!" data-time="15:00~17:00">15:00~18:00</a></li>
					</ul>
				</div>
				<button class="btn white" onclick="return false">送出</button>
			</form>
		</div>
	</section>
	-->
</div>
<script src="js/vendor/slick.js"></script>
<script src="js/class_feature.js"></script>
<script>
	$('.main-menu').addClass('page');
	$('.main-menu li').eq(1).find('a').addClass('active');
</script>