<div class="content material-box">
	<div class="page-banner_fixed banner-faq"></div>
	<div class="page-title row">
		<h2>常見問題</h2>
	</div>
	<div class="breadcrumbs row">
		<a href="/"><img src="images/icon_home.png" alt="" class="home"></a><span>常見問題</span>
	</div>
	<article class="row faq">
		<div class="columns small-12">
		<section class="faq-item open">
			<div class="faq-title">
				<h4>我的電腦需要具備那些的軟硬體環境，才能順利在線上家教學習？</h4>
			</div>
			<div class="faq-content">
				<h5>硬體設備需求</h5>
				<p>1. CPU：IntelR PentiumR III 1GHz 或速度更快的處理器。
				<br>2. 記憶體： 2G RAM (最低512M RAM) 。
				<br>3. 硬碟剩餘空間：1GB。
				<br>4. 網路設備－ADSL、Cable或其他寬頻上網方式：
				<br>下載速率10MB 以上、上傳速率3MB以上，但不建議使用無線網路或者共用頻寬方式上網。
				<br>5. 其他週邊需求：
				<br>a. 音效卡：16 bit以上。</p>
				<a href="javascript:;" class="faq-more-btn">............查看更多</a>
				<div class="faq-more">

					<h5>軟體需求</h5>
					<p>1. 作業系統：Windows 7 以上, 或Mac OS X 10.5以上。
					<br>2. 瀏覽器：Internet Explorer8.0以上的版本、Firefox 2以上的版本、Safari 4以上的版本、Chrome 5以上的版本 任一種皆適用。
					<br>3. 需先安裝 Sun Java 5或更高的版本。
					<br>4. 在IE瀏覽器選單 工具&gt;網際網路&gt;安全性設定 請將 https://www.etalkingonline.com加入信任網站。</p>

					<h5>其他免費下載軟體</h5>
					<p>a. Adobe Shockwave。
					<br>b. Adobe Flash Player 10.0.22 以上。
					<br>c. Adobe Air 1.5.1 以上。</p>
					<a href="javascript:;" class="faq-more-close-btn">收起更多</a>
				</div>
			</div>
		</section>

		<section class="faq-item">
			<div class="faq-title">
				<h4>登入教室後，無法聽見別人的聲音？</h4>
			</div>
			<div class="faq-content">
				<h5>請在確認您的耳機可以正常播放聲音後，再按照以下的步驟確認軟硬體設定：</h5>
				<p>1. 請確認您的音訊裝置(電腦音量與耳機開關)已經開啟。
				<br>2. 請確認您的耳機麥克風已經接在正確的插孔中。
				<br>3. 關閉不必要的程式。
				<br>4. 依據使用手冊的指示完成各項裝置的安裝。
				<br>5. 部份的耳機麥克風另有音量控制開關；請確認開關已經打開並調整音量至適當大小。
				<br>6. 檢查您與對方的連線狀態是否順暢。
				<br>7. 先離開並關閉教室，再重新登入。</p>
				<p>如果以上步驟都執行過後還是無法聽見聲音，請聯絡客服由專人為您服務。</p>
			</div>
		</section>

		<section class="faq-item">
			<div class="faq-title">
				<h4>為什麼我無法安裝上課軟體，會一直出現失敗訊息？</h4>
			</div>
			<div class="faq-content">
				<p>多數是由於C槽滿了！建議將C槽至少清出300M以上或是重灌電腦，重新分割C槽和D槽的空間。</p>
			</div>
		</section>

		<section class="faq-item">
			<div class="faq-title">
				<h4>用3G網路或無線網路（WIFI）上課會影響課堂品質嗎？</h4>
			</div>
			<div class="faq-content">
				<p>不建議學生使用WIFI。因為網路速度是維持高品質課程的前提條件，希望學生能使用有線網路上課。若學生堅持使用無線網路上課，可能無法享受上述網路品質的保證服務。</p>
			</div>
		</section>
		
		<!-- <div class="loader"><img src="images/" alt=""></div> -->
		</div>
	</article>
</div>

<script src="js/faq.js"></script>
<script>
	$('.main-menu').addClass('page');
	$('.main-menu li').eq(4).find('a').addClass('active');
</script>