<div class="content">
	<div class="index-banner">
		{loop="$banner"}
		<div>
			<a href="{$value.url}"><img src="{$value.images.0.image}" data-interchange="[{$value.images.2.image}, (default)], [{$value.images.1.image}, (medium)], [{$value.images.0.image}, (large)]" alt="{$value.name}" /></a>
		</div>
		{/loop}
	</div>

	<!--video modal-->
	<div id="video" class="reveal-modal large" data-reveal aria-labelledby="videoTitle" aria-hidden="true" role="dialog">
	  <h3 id="videoTitle">Bon Iver - Holocene</h3>
	  <div class="flex-video widescreen vimeo"><div id="feature-video"></div></div>
	  <a class="close-reveal-modal primary close-icon" aria-label="Close">&#215;</a>
	</div>


	<section class="index-function">
		<h2 class="title">How It Works</h2>
		<h4 class="title-tip">ETALKING利用歐洲語言共同標準CEFR提供你專屬的英語學習方向</h4>
		<div class="row">
			<div class="columns small-12 text-center func-step_0">
				<img src="images/index/function_00.png" alt="How It Works Start">
			</div>
			<div class="columns small-12 func-step" id="func-step-1">
				<div class="row">
					<div class="step-line-hor line1-1 line_left line_left_border_radius">
						<div class="step-line-str line1-2"></div>
					</div>
					<div class="columns small-12 medium-5 text-center">
						<img src="images/index/funtion_01.png" alt="需求分析">
					</div>
					<div class="columns small-12 medium-7 text-center text-part">
						<div class="num orange">01</div>
						<div class="text">
							<h4>需求分析</h4>
							<p><span>傾聽你的英文需求與想法，告訴我們學習目標，</span><span>留下聯絡資訊。</span></p>
						</div>
					</div>
				</div>
			</div>
			<div class="columns small-12 func-step" id="func-step-2">
				<div class="row">
					<div class="step-line-hor line2-1 line_right line_right_border_radius">
						<div class="step-line-str line2-2"></div>
					</div>
					<div class="columns small-12 medium-5 text-center right">
						<img src="images/index/funtion_02.png" alt="量身打造">
					</div>
					<div class="columns small-12 medium-7 text-center text-part right">
						<div class="num blue">02</div>
						<div class="text">
							<h4>量身打造</h4>
							<p><span>確切了解你的需求與程度，量身打造課程，</span><span>以達到你希望的學習目標，實際體驗課程內容。</span></p>
						</div>
					</div>
				</div>
			</div>
			<div class="columns small-12 func-step" id="func-step-3">
				<div class="row">
					<div class="step-line-hor line3-1 line_left line_left_border_radius">
						<div class="step-line-str line3-2"></div>
					</div>
					<div class="columns small-12 medium-5 text-center">
						<img src="images/index/funtion_03.png" alt="達成目標">
					</div>
					<div class="columns small-12 medium-7 text-center text-part">
						<div class="num green">03</div>
						<div class="text">
							<h4>達成目標</h4>
							<p><span>選擇自己想要的時間及適合的等級，</span><span>學習喜歡的課程內容，</span><span>更有效率地達到需求與期望目標，</span><span>此外提供線上選修課程，</span><span>以加強額外專業能力。</span></p>
						</div>
					</div>
				</div>
			</div>
			<div class="columns small-12 func-step" id="func-step-4">
				<div class="row">
					<div class="step-line-hor line4-1 line_right line_right_border_radius">
						<div class="step-line-str line4-2"></div>
					</div>
					<div class="columns small-12 medium-5 text-center right">
						<img src="images/index/funtion_04.png" alt="學習追蹤">
					</div>
					<div class="columns small-12 medium-7 text-center text-part right">
						<div class="num yellow">04</div>
						<div class="text">
							<h4>學習追蹤</h4>
							<p><span>追蹤學習進度，</span>
							<span>回顧學習過程，</span>
							<span>依實際狀況調整並給予建議，</span>
							<span>過程中我們會陪你一起找到正確的學習方向。</span></p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</section>
	<section class="index-why">
		<h2 class="title">在ETALKING瘋英語</h2>
		<div class="row">
			<h4 class="title-tip">打破學習的傳統框架，推動創新線上英語教學服務，打造專屬唯一的教育平台</h4>
			<div class="etalking-slide whyenglish">
				<div class="columns small-12 medium-3">
					<img src="images/index/why_01.png" alt="知識學習英文">
					<h4>知識學習英文<br><span class="en">Gain Knowledge</span></h4>
					<p class="text">立即掌握國外第一手資訊、隨時增加國際知識，不再只是來自呆板的教科書，而是從自己的興趣喜好知識中學習英文，讓學習上更加有趣！</p>
				</div>
				<div class="columns small-12 medium-3">
					<img src="images/index/why_02.png" alt="自信來自開口">
					<h4>自信來自開口<br><span class="en">Build confidence</span></h4>
					<p class="text">建立『說英文的自信心』，隱密的學習環境，真人及時互動，強調口語表達的重要，在這裡不需要面對人群，可以輕鬆自在的開口說英語。</p>
				</div>
				<div class="columns small-12 medium-3">
					<img src="images/index/why_03.png" alt="向全世界招手">
					<h4>向全世界招手<br><span class="en">Connect with the world</span></h4>
					<p class="text">「世界是平的，即使不出國，知識也能與國外互通」，ETALKING成為你和世界接軌的橋樑，讓你在世界舞台上發光發熱，邁向國際！</p>
				</div>
				<div class="columns small-12 medium-3">
					<img src="images/index/why_04.png" alt="人生的可能性">
					<h4>人生的可能性<br><span class="en">More opportunities</span></h4>
					<p class="text">擁有良好英文能力，就能為自己面試或職場表現加分，進而改變你的世界，ETALKING幫你學好英文，創造更多的人生可能性、擁有更多的選擇，站在職場中的最前端！</p>
				</div>
			</div>
			<div class="columns small-12 text-center">
				<!--<a href="#ContactUsNow" class="btn">了解更多</a>-->
			</div>
		</div>
	</section>
	<!--<section class="index-now">
		<div class="text-wrapper">
			<h4>現在就成為英語達人。</h4>
			<a href="#ContactUsNow" class="btn white">立即開始</a>
		</div>
	</section>-->
</div>

<script src="js/vendor/pace.min.js"></script>
<script src="js/foundation/foundation.interchange.js"></script>
<script src="js/vendor/slick.js"></script>
<script src="js/index.js"></script>

<!-- Google Code for &#30003;&#35531; Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 875559496;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "QkwTCPHermkQyPS_oQM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript"  
src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt=""  
src="//www.googleadservices.com/pagead/conversion/875559496/?label=QkwTCPHermkQyPS_oQM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
