	<div class="content material-box">
	<div class="page-banner_static banner-priv">
		<div class="page-title row">
			<h2 class="">個資保護聲明</h2>
		</div>
	</div>

    <section class="privacy">
    	<div class="breadcrumbs row text-left">
			<a href="/"><img src="images/icon_home.png" alt="" class="home"></a><span>個資保護聲明</span>
		</div>
    	<div class="row">
    		<div class="columns small-12">
	    		<h2 class="text-center">Etalking蒐集、處理及利用個人資料聲明暨同意書</h2>
				<h4>本聲明暨同意書說明Etalking文樺數位互動股份有限公司(以下簡稱<span class="blue">Etalking</span>) 將如何蒐集、處理及利用您的個人資料。</h4>
				<p>當您填表完成、勾選﹝我已閱讀並同意﹞並送出資料時，即表示您已閱讀、了解並同意本聲明暨同意書的所有內容，且您瞭解此一同意符合個人資料保護法及相關法規之要求，具有書面同意<span class="blue">Etalking</span>蒐集、處理及利用您個人資料之效果。</p>
		    	<ul>
		    		<li>（一）<span class="blue">Etalking</span>依照個人資料保護法及相關法令之規定，在為提供您課程資訊及/或提供相關服務及業務之必要範圍內，包括但不限於提供課程服務訊息及資訊、進行贈品兌換活動、會員登錄及驗證、廣告行銷、特別活動通知等，蒐集、處理及利用您的個人資料。</li>
		    		<li>（二）個人資料之類別: 您提供之資料，包括您的姓名、性別、電話、Email、地址等或其他得以直接或間接識別您個人之資料。</li>
		    		<li>（三）<span class="blue">Etalking</span>僅蒐集為執行上述特定目的所必要提供之個人資料，並在前揭特定目的存續期間及法令規定之期間內，以有利於達成前揭特定目的之方式(包括但 不限於電腦處理、郵寄、電話、傳真)，於中華民國境內及法令許可之範圍內加以處理及利用。</li>
		    		<li>（四）您可依個人資料保護法規定，就您的個人資料向<span class="blue">Etalking</span>行使下列權利：
			    		<ul>
			    		 	<li>(1)查詢或請求閱覽</li>
			    		 	<li>(2)請求製給複製本</li>
			    		 	<li>(3)請求補充或更正</li>
			    		 	<li>(4)請求停止蒐集、處理 及利用</li>
			    		 	<li>(5)請求刪除。</li>
			    		 </ul>
			    		<p class="sptext">您行使前述權利時，<span class="blue">Etalking</span>將可能向您收取閱覽個人資料或製給複製本之必要成本費用，且您行使上開權利，須符合個人資料保護 法規定之相關要件。</p>
			    	</li>
		    		<li>（五）<span class="blue">Etalking</span>基於上述原因而需蒐集、處理或利用您個人資料時，您可以選擇是否提供，惟若選擇不提供或是提供不完全時，基於法令之執行，<span class="blue">Etalking</span>將可能 無法提供您所需的相關訊息或服務。</li>
		    		<li>（六）若您有任何問題可洽<span class="blue">Etalking</span>戶保護部(02-)或在<span class="blue">Etalking</span>網站點選<a href="mailto:Service@etalkingonline.com">Service@etalkingonline.com</a>，我們將盡快為您服務。</li>
		    	</ul>
	    	</div>
    	</div>
    </section>
	</div>