<div class="content material-box">
	<div class="page-banner banner-member">
		<h3 class="text-center">忘記密碼</h3>
	</div>
	<div class="breadcrumbs row">
		<a href="/"><img src="images/icon_home.png" alt="" class="home"></a><span>忘記密碼</span>
	</div>

    <div class="row member-box">
        <div class="columns small-12 large-7 large-centered">
            <h2 class="text-left primary">HAVING TROUBLE LOGGING INTO YOUR ETALKING  ACCOUNT?</h2>
            <h4 class="text-left"><b>忘記您的密碼？</b></h4>
            <p>沒問題，只要輸入您的身份證字號/證照號碼，我們就會將密碼透過您帳戶中所填寫的Email地址傳送給您。</p>
        </div>
        <div class="columns small-12 medium-10 medium-centered large-7 large-centered">
          <div class="row form-box">
		  
			<div class="columns small-12 large-12 login_error">
                <div data-alert class="alert-box alert radius">
                  Not a valid ID
                </div>
            </div>
			
			<form class="fill">
            <div class="columns small-12 large-12 large-centered">
              <div class="row collapse prefix-radius">

                <div class="small-12 columns">

                 <label>Enter your ID
                  <input type="text" name="account" placeholder="身份證字號/證照號碼">
                 </label>

                </div>
              </div>
            </div>

            <div class="columns small-12 medium-6 large-6 text-left">
				<!-- <div class="g-recaptcha" data-sitekey="{$CAPCHA_PUBLIC_KEY}"></div> -->
            </div>
            <div class="columns small-12 medium-4">
                <a class="button solid round expand aline-code submit">SUBMIT</a>
            </div>			
			</form>
			
          </div>

        </div>

    </div>

</div>
<script src="js/student.forgot.js"></script>