{include="header"}
  <div class="class">
	<div class="alert-bar alert-bar-teacher" style="display:none" ></div>
    {include="profile"}
	
    <div class="breadcrumbs row"><a href="/"><img src="images/icon_home.png" alt="" class="home"></a><a href="/teacher">Teacher's Area</a><span>Session Booking</span></div>
    <div class="main-title">
      <h1>Session Booking</h1>
    </div>
    <div class="class-note class-note-teacher">
      <!-- <p> <span style="color:#ef1b57;">When encountering Typhoon, our service will follow the order of Directorate-General of Personnel Administration</span></p> -->
      <p> <span>Note</span>All times listed are Taipei time.<br>Unable to to cancel within in 24 hours</p>
    </div>
    <div class="class-table row calendar">

    </div>
  </div>
  
{include="footer"}
<script src="js/teacher.booking.js"></script>