  <a class="gotop gotop-teacher"><span>TOP</span></a>
  <footer class="footer-teacher"><img src="images/logo_footer.png" alt="">
    <div class="copyright">Copyright © 2016 文樺數位互動股份有限公司</div>
  </footer>
</body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="js/foundation/foundation.js"></script>
<script src="js/foundation/foundation.topbar.js"></script>
<script src="js/foundation/foundation.dropdown.js"></script>
<script src="js/foundation/foundation.reveal.js"></script>
<script src="js/foundation-datepicker.js"></script>
<script src="js/vendor/circle-progress.js"></script>
<script src="js/common.js"></script>
<script src="js/class.js"></script>
<script src="js/jquery.blockUI.js"></script>
<script src="js/crud.en.js"></script>
<script src="js/teacher.js"></script>

  <div id="systemModal" data-reveal="" aria-labelledby="modalTitle" aria-hidden="true" role="dialog" class="reveal-modal reveal-modal-student small">
    <p></p>
	<a aria-label="Close" class="button round close-reveal-modal btn">OK</a>
  </div>
  
  <div id="systemConfirm" data-reveal="" aria-labelledby="modalTitle" aria-hidden="true" role="dialog" class="reveal-modal reveal-modal-student small">
    <p></p>
	<a aria-label="Close" class="button round close close-reveal-modal cancel">Back</a>
	<a aria-label="Close" class="button round close-reveal-modal btn">Sure</a>
	<a aria-label="Close" class="close-reveal-modal cancel">×  </a>
  </div>