
<!-- Repeat a block without writing inline JS--><!DOCTYPE html>
<html lang="zh-tw">
<base href="/">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <!-- og-->
    <!--
    <meta name="keywords" content="keywords" />
    <meta name="description" content="keywords" />
    -->
    <title>ETALKING</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="images/touch-icon_57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/touch-icon_72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/touch-icon_114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/touch-icon_144x144.png">
    <!-- Css-->
	<link rel="stylesheet" href="css/foundation-datepicker.css">
    <link rel="stylesheet" href="css/style_page.css">
  </head>
</html>
<body>
  <div class="outer-menu outer-menu-teacher hide-for-large-up">
    <input type="checkbox" class="checkbox-toggle">
    <div class="hamburger">
      <div></div>
    </div>
    <div class="menu">
      <div>
        <div>
          <ul>
            <li><a href="/teacher/booking">Session Booking</a></li>
            <li><a href="/teacher/newclass">My Classes</a></li>
            <li><a href="/teacher/account">My Account</a></li>
            <li><a >Require System</a></li>
            <li><a href="/teacher/logout">Log out</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <header class="stick header-teacher">
    <nav class="row menu-wrapper">
      <h1 class="logo">ETALKING</h1>
      <ul class="main-menu">
        <li><a href="/teacher/booking">Session Booking</a></li>
        <li><a href="/teacher/newclass">My Classes</a></li>
        <li><a href="/teacher/account">My Account</a></li>
        <li><a >Require System</a></li>
        <div class="menu-move-bar"></div>
      </ul><a href="/teacher/logout" class="logout show-for-large-up"><img src="images/icon_logout.png" alt="Log Out">Log Out</a>
    </nav>
  </header>