.header{
	width:100%;
	margin:0;
	padding:0;
}
.header>a>img{
	width: 100%;
}
#gotop>a{
	background: #000000;
	display: block;
}
.confuse_container{
	width: 100%;
	margin:0;
	padding:0;
	position: relative;
	overflow: hidden;
	background: url(../images/img/sec2_bg.png) center center no-repeat;
	background-size: cover;
}


.confuse_container .confuse_sliders .confuse_slider {
	position: relative;
}
.confuse_container .confuse_sliders .confuse_slider .confuse_text{
	width: 32%;
	height: 37%;
	padding:1.5rem 1.3rem 1rem;
	border-radius: 50%;
	position: absolute;
	z-index: 500;
	bottom: 20%;
	overflow: hidden;
	text-align: center;
}
.confuse_container .confuse_sliders .confuse_slider .confuse_text p{
	font-size: 1.3rem;
	line-height: 1.7rem;
	margin:0;
	padding:0;
}
@media only screen and (min-width: 30em) and (max-width: 51em) {

/*	.confuse_container .confuse_sliders .confuse_slider .confuse_text p{
	font-size: 1rem;
	line-height: 1.2rem;
	}
	.confuse_container .confuse_sliders .confuse_slider .confuse_text h1{
	font-size: 2rem;
	line-height: 2.1rem;
	}*/

}
.confuse_container .confuse_sliders .confuse_slider .confuse_text.confuse_even{
	right:37%;
	background:#00b7ee;
	color:white;
}
.confuse_container .confuse_sliders .confuse_slider .confuse_text h1{
	font-size: 4rem;
	line-height: 4rem;
	margin:0; 
	padding:1rem 0 0.5rem;
	font-weight: bold;
}

.confuse_container .confuse_sliders .confuse_slider .confuse_text.confuse_even h1{
	color:white;

}
.confuse_container .confuse_sliders .confuse_slider .confuse_text.confuse_odd{
	left:10%;
	background:#feff93;
	color:#00b7ee;

}
.confuse_container .confuse_sliders .confuse_slider .confuse_text.confuse_odd h1{
	color:#00b7ee;

}
.confuse_container .confuse_title{
	position:absolute;
	width: 30%;
	text-align: center;
	left:50%;
	top:10px;
	transform:translateX(-45%);
	z-index: 500;
}
.confuse_container .confuse_girl{
	position: absolute;
	left: 50%;
	bottom: -10px;
	overflow: hidden;
	transform:translateX(-45%);
}
.confuse_container .confuse_girl>img{
		width:90%;
		padding:0;
		margin:0;
}
@media only screen and (min-width: 50.3em) and (max-width: 87em) {
	.confuse_container .confuse_sliders .confuse_slider .confuse_text{
	width: 41%;
	height: 45%;
	bottom: 5%;
		}
	.confuse_container .confuse_sliders .confuse_slider .confuse_text.confuse_odd{
	left:20%;
	}
	.confuse_container .confuse_sliders .confuse_slider .confuse_text{
	padding-top: 1rem;
	}
	.confuse_container .confuse_sliders .confuse_slider .confuse_text p{
	font-size: 1rem;
	line-height: 1.2rem;
	}
	.confuse_container .confuse_sliders .confuse_slider .confuse_text h1{
	font-size: 3rem;
	line-height: 3rem;
	padding:0;
	}
}

@media only screen and (max-width: 50em){
	.confuse_container{
		background: url(../images/img/sec2_bg2.png) center center no-repeat;
	}
		.confuse_container .confuse_sliders .confuse_slider .confuse_text{
	padding-top: 1.2rem;
	bottom:15%;
	width: 40%;
	height: 43%;
		}
	.confuse_container .confuse_sliders .confuse_slider .confuse_text.confuse_odd,
	.confuse_container .confuse_sliders .confuse_slider .confuse_text.confuse_even{
		background:#00b7ee;
		right:90%;
		left: 3%;
	}
	.confuse_container .confuse_sliders .confuse_slider .confuse_text.confuse_odd h1,
	.confuse_container .confuse_sliders .confuse_slider .confuse_text.confuse_even h1{
		color:white;
	}
	.confuse_container .confuse_sliders .confuse_slider .confuse_text.confuse_odd p,
	.confuse_container .confuse_sliders .confuse_slider .confuse_text.confuse_even p{
		color:white;
	}
	.confuse_container .confuse_sliders .confuse_slider .confuse_text p{
	font-size: 1.1rem;
	line-height: 1.2rem;
	}
	.confuse_container .confuse_sliders .confuse_slider .confuse_text h1{
	font-size: 3rem;
	line-height: 3rem;
	}
}
@media only screen and (max-width: 31em){
	.confuse_container .confuse_sliders .confuse_slider .confuse_text{
	padding-top: 0;
	width: 40%;
	height: 50%;
		}
	.confuse_container .confuse_sliders .confuse_slider .confuse_text p{
	font-size: 0.9rem;
	line-height: 1.2rem;
	}
	.confuse_container .confuse_sliders .confuse_slider .confuse_text h1{
	font-size: 1.4rem;
	line-height: 1.3rem;
	}
}
/*navigator*/
.navigator{
	position: fixed;
	width: 100%;
	padding:1rem 1rem 1.5rem;
	bottom:0;
	background:#05ddd5;
	border-bottom:0.5rem solid #00bdb6;
	z-index: 1000;
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.navigator .navi_logo{
	position: absolute;
	overflow: hidden;
}
.navigator .navi_logo img{
	width: 70%;
}
@media only screen and (max-width: 60em){
	.navigator .navi_logo{
	display: none;
	}
	.top_logo{

	}
}
.navigator .navi_ex{
	text-align: center;
}
.navigator .navi_top{
	position:absolute;
	right:1rem;
}
.navigator .navi_top img{
	width: 40px;
}
/*caca*/
.caca_container{
	display: absolute;
	padding-top: 4rem;
	padding-bottom:0rem;
	background: rgb(48,186,238); /* Old browsers */
	background: -moz-linear-gradient(top, rgb(48,186,238) 0%, rgb(150,229,249) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgb(48,186,238) 0%,rgb(150,229,249) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgb(48,186,238) 0%,rgb(150,229,249) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#30baee', endColorstr='#96e5f9',GradientType=0 ); /* IE6-9 */
	}
.caca_container.chinese_new_year{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6ed0dd+0,72b7bc+25 */
	background: #6ed0dd; /* Old browsers */
	background: -moz-linear-gradient(top, #6ed0dd 0%, #72b7bc 25%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #6ed0dd 0%,#72b7bc 25%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #6ed0dd 0%,#72b7bc 25%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6ed0dd', endColorstr='#72b7bc',GradientType=0 ); /* IE6-9 */
}

.caca_container .caca_title{
	display: none;

}
.caca_container .caca_intro .header>img{
	
}
.caca_container .caca_intro_s{
	display: none;
}
.caca_container .caca_intro .header{
	text-align: center;
	position:relative;
	
}
.caca_container .caca_intro .header .award1{
	position: absolute;
	bottom:0;
	right:6%;

}
.caca_container .caca_intro .header .award2{
	position: absolute;
	bottom:0;
	left:6%;
	
}
.caca_intro a,.caca_intro_s a{
	color: #000000;
	text-decoration: underline;
}
.caca_intro a:hover{
	opacity: 0.5;
}
.caca_intro_s .smalltext_s{
	margin-top: 1rem;
}
@media only screen and (max-width: 60em){
	.caca_container{
		padding-top: 5rem;
	}
	.caca_container .caca_intro{
		display: none;
	}
	.caca_container .caca_intro_s{
	display: block;
	}
}
.caca_container .caca_intro .header .smalltext{
	position:absolute;
	bottom:-16%;
	right:10%;

}
.caca_container .caca_intro .header .smalltext_left{
	position:absolute;
	bottom:-10%;
	left:-80%;

}
.caca_container .caca_intro .header .smalltext p{
		font-size: 0.7rem;
}
.caca_container .caca_intro .header .smalltext_left p{
		font-size: 0.7rem;
}
.caca_container .caca_description{
	width:100%;
	padding:1rem 0;
	margin:4rem 0 1rem;
	background: white;
}
.caca_container .caca_description .caca_des_header{
	border-top:solid 1rem #106cc1;

	position: relative;
}
.caca_container .caca_description .caca_des_header>img{
	margin-top:-30px;
	width:15rem;
}
.caca_container .caca_description .caca_des_header h4{
	margin-top:1rem;
	margin-bottom:2rem;
	font-size: 1.3rem;
}
.caca_container .caca_description .caca_des_steps{
	width: 30%;
	display:inline-block;
}
.caca_container .caca_description .caca_des_steps h1{
	color:#106cc1;
	font-size: 3.5rem;
	line-height: 3.5rem;
	padding:0;
	margin-bottom: 0;
	font-weight: bold;
}
.caca_container .caca_description .caca_des_steps h2{
	font-size:1.5rem;
	line-height: 1.5rem
	margin-top: 0;
	margin-bottom: 0.2rem;
	padding:0; 
	color:#106cc1;
}
.caca_container .caca_description .caca_des_steps p{
	font-size: 1.2rem;
}
.caca_container .caca_description .caca_arrow{

	padding:0;
	width:2.5%;
	display:inline-block;

}
.caca_container .caca_description .caca_arrow img{
	vertical-align: bottom;
}
@media only screen and (max-width: 60em){
	.caca_container .caca_description .caca_des_steps{
		width: 100%;
	}
	.caca_container .caca_description .caca_arrow img{
		-webkit-transform:rotate(90deg) ;
		-moz-transform:rotate(90deg) ;
		-ms-transform:rotate(90deg) ;
		-o-transform:rotate(90deg) ;
		transform:rotate(90deg) ;
	}
}
.caca_container .caca_line{

	display: block;
	width: 100%;
	border-bottom: solid 1rem #106cc1;
}
/*choose*/
.choose{
	width: 100%;
	background: url(../images/img/sec5_bg.jpg)center center no-repeat;
	background-size: cover;
	padding:1rem 0 3rem;
}
.choose .title{
	padding:2rem;
}
.choose .title img{

}
.choose .dialog{

	padding:1rem;

}
.choose .dialog .dialog-content{
	background: rgba(255,255,255,0.5);
	border-radius: 20px;
	height: 37rem;
	box-sizing: border-box;
	border:0.4rem solid white;
	margin-top:4rem;
	padding:3rem 3rem 2rem;
	position: relative;

}
@media only screen and (max-width: 40em){
.choose .dialog .dialog-content{
	padding:3rem 1rem 2rem;
}
}
.choose .dialog .dialog-content .dialog_head{
	margin-top: -6rem;
	margin-bottom:0.5rem;
}
.choose .dialog .dialog-content h3{
	display:inline-block;
	padding:0 1rem;
	font-size: 1.3rem;
	line-height: 1.6rem;
	background: #106cc1 ;
	border-radius: 30rem;
	color:white;
}
.choose .dialog .dialog-content h2{
	font-size:1.6rem;
	color:#106cc1;
	margin-bottom:1rem;
}
.choose .dialog .dialog-content p{
	text-align: justify;
}
/*six*/
.six{
	display: relative;
	padding:3rem 0 3rem;
	background: rgb(48,186,238); /* Old browsers */
	background: -moz-linear-gradient(top, rgb(48,186,238) 0%, rgb(150,229,249) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgb(48,186,238) 0%,rgb(150,229,249) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgb(48,186,238) 0%,rgb(150,229,249) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#30baee', endColorstr='#96e5f9',GradientType=0 ); /* IE6-9 */
}
.six .title{
	margin-bottom:4rem;
}
.six .columns{
	margin-top:2rem;
	margin-bottom:2rem;
}
/*cefr*/
.cefr-content .text-center{
	margin-bottom:3rem;
}
.cefr-content .column .row .cefr_logo{
	
}
.cefr-content .column .row .cefr_logo>img{
		margin-top:-2.5rem;
}
.cefr-content .column .row .cefr_text>p{
	font-size: 1.8rem;
}
/*lastbg*/
.lastbg{
	background: url(../images/img/last_bg.jpg)center center no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding:20vh 20vh 30vh;
}
@media only screen and (max-width: 60em){
	.lastbg{
		display: none;
	}
}
/*top-logo*/
.top_logo{
	position: absolute;
	display: none;
	bottom:0;
	left:50%;
}
.top_logo>img{
	width:200px;
}
@media only screen and (max-width: 60em){
	.navi_logo{
		display:block;
	}

}
/*animation*/
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
/*footer*/
footer{
	display: none;
}
/*king*/
.king .row1{
	width: 100%;
	padding:2rem 12% ;

}
.king .row1 .columns_king{
	width:24%;
	display: inline-block;
	padding:0 1rem;
}
/*.king .row1 .columns_king:last-child{
	padding-right: 0;
}*/
@media only screen and (max-width: 70em){
	.king .row1{
	width: 100%;
	padding:0 0 1rem;

		}
	.king .row1 .columns_king{
		width: 48%;
		padding:0 0.5rem;
	}

}
/*20161212 Chistmas Style*/
.chistmas_style #caca{
	background: #f2f6fa url('../images/img/sec4_bg.jpg') no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
}
.chistmas_style #caca .award1 img,.chistmas_style #caca .award2 img{
	border: 3px white solid;
	border-radius: 50px;
	box-shadow: 0 0 10px white;
}
#snow{
	position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    z-index: 5;
}
.chistmas_style .navigator{
	background: url('../images/img/xmas_1.png');
	padding-top: 50px;
}
.chistmas_style .navigator:before{
	background: url('../images/img/xmas_2.png');
	content: "";
	width: 211px;
	height: 368px;
	position: absolute;
	left: -30px;
    bottom: 50px;
	-o-transform: scale(0.5);
	-ms-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	-o-transform-origin: bottom left;
	-ms-transform-origin: bottom left;
	-moz-transform-origin: bottom left;
	-webkit-transform-origin: bottom left;
	transform-origin: bottom left;
}
.chistmas_style .caca_container .caca_description .caca_des_header{
	border-top: solid 1rem #ed2138;
}
.chistmas_style .caca_container .caca_line{
	border: none;
	padding-top: 1rem;
    background: white;
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 25px, rgb(237, 33, 56) 25px, rgb(237, 33, 56) 50px);
}
.chistmas_style .closesnow{
	position: fixed;
	z-index: 5;
	top: 15px;
	right: 15px;
	width: 60px;
	height: 60px;
	-o-transform: scale(0.75);
	-ms-transform: scale(0.75);
	-moz-transform: scale(0.75);
	-webkit-transform: scale(0.75);
	transform: scale(0.75);
	background: url('../images/img/xmas_3.png');
	cursor: pointer;
	transition: all 0.3s;
}
.chistmas_style .closesnow:hover{
	transform: scale(1);
}
.chistmas_style .closesnow.close{
	opacity: 0.5;
}
.chistmas_style .closesnow.close:before{
	content: "";
	position: absolute;
	width: 100%;
	top: 50%;
	border: 2px solid #ffaeae;
	transform: rotate(30deg);
}
@media only screen and (max-width: 60em){
	.chistmas_style #caca{
		background-image:  none;
	}
	.chistmas_style .caca_intro_s{
		background: #f2f6fa url('../images/img/sec4_bg.jpg') no-repeat left bottom;
		background-size: 100vw;
		padding-bottom: 4rem;
	}
	.chistmas_style .caca_container .caca_description{
		margin-top: 0;
	}
}