{include="header"}
{if="$type==40"}
<div class="table-wrapper section">
  <div class="col-md-6 column">
    <ul class="nav nav-tabs">
      <li class="active"><a>課程資料</a></li>
    </ul>
  </div>
  <div class="col-md-6 column">
    <ul class="nav nav-tabs">
      <li class="active"><a>排課</a></li>
    </ul>
  </div>
  {/if}
  <div class="row form-wrapper">
  <!-- left column -->
  <div class="col-md-6 column">
    <form name="frm" id="frm" method="post" action="{$ADD_URL}" enctype="multipart/form-data" onsubmit="return checkForm(this);">
      <div class="field-box" id="div_type">
        <div class="text">
          <label>類型<sup>*</sup>:</label>
          <div class="col-md-9">
            <input class="form-control inline-input" type="text" value="{$type_text}" readonly />
            <input type="hidden" name="type" value="{$type}">
          </div>
        </div>
      </div>
      <div class="field-box" id="div_course_name">
        <div class="text">
          <label>課程名稱<sup>*</sup>:</label>
          <div class="col-md-9">
            <input class="form-control" type="text" name="course_name" id="course_name" value="{$course_name}" required />
          </div>
        </div>
      </div>
      <div class="field-box" id="div_material_id">
        <div class="text">
          <label>教材<sup>*</sup>:</label>
          <div class="col-md-12">
            <select name="material_id" id="material_id">
              {loop="$mat_list"}
              <option value="{$value.id}">{$value.eng_title} ({$value.title})</option>
              {/loop}
            </select>
          </div>
        </div>
      </div>
      <div class="field-box" id="div_consultant_id">
        <div class="text">
          <label>顧問<sup>*</sup>:</label>
          <div class="col-md-12">
            <select name="consultant_id" id="consultant_id">
              {loop="$con_list"}
              <option value="{$value.id}">{$value.first_name} {$value.last_name} ({$value.chi_name})</option>
              {/loop}
            </select>
          </div>
        </div>
      </div>
      <div class="field-box" id="div_point">
        <div class="text">
          <label>點數<sup>*</sup>:</label>
          <div class="col-md-3">
            <input class="form-control" type="number" name="point" id="point" value="{$point}" required min="0.1" max="999" step="0.1" />
          </div>
        </div>
      </div>
      {if="$type==50"}
      <div class="field-box" id="div_begin_date">
        <div class="text">
          <label>開課日期<sup>*</sup>:</label>
          <div class="col-md-3">
            <input type="text" value="{$begin_date}" name="begin_date" id="begin_date" class="form-control date" picker="date" required />
          </div>
        </div>
      </div>
      <div class="field-box" id="div_begin_time">
        <div class="text">
          <label>開課時間<sup>*</sup>:</label>
          <div class="col-md-3">
            {$time_select2}
          </div>
        </div>
      </div>
      {/if}
      <div class="field-box" id="div_brief">
        <div class="text">
          <label>簡介:</label>
          <div class="col-md-6">
            {$editor_brief}
          </div>
        </div>
      </div>
      <div class="field-box" id="div_status">
        <div class="text">
          <label>狀態<sup>*</sup>:</label>
          <div class="col-md-6">
            {$status_select}
          </div>
        </div>
      </div>
      {$IMAGES}
      <!-- orders -->
      <div class="submit-box">
        <input type="submit" class="btn-glow primary" value="確認送出">&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="button" class="btn-glow" value="取 消" onClick="history.go(-1);">
      </div>
    </form>
  </div>
    <div class="col-md-6 form-sidebar" {if="$type==50"}style="display:none;"{/if}>
      <br>
      <table class="table" id="tbl_material">
        <thead>
        <tr>
          <th class="col-number">#</th>
          <th class="col-md" align="center">開課日期</th>
          <th class="col-md" align="center">開課時間</th>
          <th class="col-md" align="left">教材</th>
        </tr>
        </thead>
        <tbody>
        <tr><td colspan="4" align="center">請先選擇教材</td></tr>
        </tbody>
        </table>
    </div>
</div>
</div>
<div style="display: none;" id="div_material">
  <table>
  <tr><td align="right">{i}</td>
    <td align="center" class="col-md-3">
      <input type="text" name="date[]" class="form-control date" picker="date" required />
    </td>
    <td align="center">
      {$time_select}
    </td>
    <td>{material}</td></tr>
  </table>
</div>
<!-- end left column -->
<script language="javascript">
  var doSubmit = false;
  function checkForm(frm)
  {
    if (doSubmit)
      return true;
    // file size
    var imgs = $('input[name*="image"]');
    for (var k = 0; k < imgs.length; k++)
    {
      var i = imgs.get(k);
      if(i.files && i.files.length == 1)
      {
        if (i.files[0].size > 524288)
        {
          alert(i.files[0].name + ": 圖片最多500KB");
          return false;
        }
        if (i.files[0].type != 'image/jpg' && i.files[0].type != 'image/jpeg' && i.files[0].type != 'image/png')
        {
          alert(i.files[0].name + ": 圖片僅支援PNG, JPG檔案");
          return false;
        }
      }
    }

    var can_submit = true;
    var msg = '';
    if (type == 50)
    { // 大會堂
      date = $('#begin_date').val();
      if (date == '')
      {
        can_submit = false;
        msg        = '請輸入正確的日期';
        $('#begin_date').focus();
      }
      time = $('#time').val();
    }
    else
    {
      var date = '', time = '';
      $('#tbl_material input').each (function () {
        if ($(this).val() == '')
        {
          can_submit = false;
          msg = '請輸入正確的日期';
          $(this).focus();
        }
        else
          date += $(this).val() + ',';
      });
      $('#tbl_material select').each (function () { time += $(this).val() + ',' });
      if (msg)
        alert(msg);
      date = date.slice(0, -1);
      time = time.slice(0, -1)
    }
    if (!can_submit)
      return false;

    $.ajax({
      type: 'post',
      url: '/admin/elective/before_submit',
      data: {
        consultant_id: $('#consultant_id').val(),
        date : date,
        time : time
      },
      dataType: 'json',
      success: function (result) {
        if (result.status)
        {
          $('#frm').append('<input type=hidden name="date" value="' + date + '">');
          $('#frm').append('<input type=hidden name="time" value="' + time + '">');
          doSubmit = true;
          $('#frm').submit();
        }
        else
          alert(result.msg);
      },
      error: function () {
        alert('操作失敗');
      }
    });

    return false;
  }
</script>
{include="footer"}
<script language="javascript">
var type = '{$type}';
$(function () {
  $("#material_id").select2({width:'400px'});
  $("#consultant_id").select2({width:'400px'});
  $("#material_id").on('change', function () {
    if (type == 50)
      return;
    $.ajax({
      type: 'post',
      url: '/admin/elective/material',
      data: {
        id : $("#material_id").val()
      },
      dataType: 'json',
      success: function (result) {
        if (result.status)
        {
          $('#tbl_material tbody').html('');
          var i = 1;
          for(var key in result.data)
          {
            var div = $('#div_material tr').html();
            var tmp = result.data[key];
            div = div.replace('{i}', i);
            div = div.replace('{material}', tmp.title);
            $('#tbl_material tbody').append('<tr>' + div + '</tr>');
            i++;
          }
          initDatePicker('#tbl_material');
        }
        else
          alert(result.msg);
      },
      error: function () {
        alert('操作失敗');
      }
    });
  });
  $("#material_id").trigger('change');
});
</script>