{loop="$list"}
<div class="field-box" id="div_file{$value.i}"{if="$value.desc"} style="margin-bottom:0"{/if}>
<div class="text">
  <label>{$value.title}{if="$value.required"}<sup>*</sup>{/if}:</label>
  <div class="col-md-6">
    {if="$value.file"}<div style="float:left; padding-right: 10px;">{$value.file_name}</div>{if="!$value.required"}<label for="delete{$value.i}" style="vertical-align: bottom;"><input type="checkbox" name="delete{$value.i}" id="delete($value.i}" value="1">刪除</label>{/if}{/if}
    <div style="float:left;">
      覆蓋: <input type="file" name="file{$value.i}" id="file{$value.i}"{if="!$value.file&&$value.required"} required{/if} {if="$value.accept"}accept="{$value.accept}"{/if}>
  </div>
</div>
</div>
{if="$value.desc"}
<div class="field-box" id="div_text{$value.i}">
  <div class="text">
    <label>{$value.title}(描述){if="$value.required"}<sup>*</sup>{/if}:</label>
    <div class="col-md-2">
      <input class="form-control" type="text" name="file_text{$value.i}" id="file_text{$value.i}" value="{$value.text}"{if="$value.required"} required{/if}>
    </div>
  </div>
</div>
{/if}
{/loop}