{include="header"}
日期: {$date}
<div class="table-wrapper section">
  {include="table_header"}
  <div class="row">
    <!-- left column -->
    <div class="col-md-12">
      <table class="table table-hover">
        <thead>
        <tr>
          <th class="col-number">#</th>
          <th class="col-md" align="center">時段</th>
          <th class="col-md" align="right">預約教室數</th>
          <th class="col-md" align="right">預約人數</th>
          <th class="col-md-2">功能</th>
        </tr>
        </thead>
        <tbody>
        {if="isset($nodata)"}
        <tr>
          <td colspan="6" align="center" class="nodata">沒有資料</td>
        </tr>
        {else}
        {loop="$list"}
        <tr>
          <td align="right">{$value.i}</td>
          <td align="center">{$value.time}</td>
          <td align="right">{$value.classroom}</td>
          <td align="right">{$value.persons}</td>
          <td align="center"><button class="btn-flat white" onClick="go('/admin/free/manage?date={$date}&time={$value.t}');"><i class="icon-book"></i>管理教室</button></td>
        </tr>
        {/loop}
        {/if}
        </tbody>
      </table>
      {$page_control}
    </div>
    <!-- end left column -->

    <!-- right column -->
    <div class="col-md-4 column">
    </div>
    <!-- end right column -->
  </div>
</div>
{include="footer"}