<!DOCTYPE html>
<html>
<head>
  <base href="{$BASE_URL}">
  <title>{$SITE_TITLE} - {$menu_name}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- bootstrap -->
  <link href="css/bootstrap/bootstrap.css" rel="stylesheet" />
  <link href="css/bootstrap/bootstrap-overrides.css" type="text/css" rel="stylesheet" />

  <!-- libraries -->
  <link href="css/lib/uniform.default.css" type="text/css" rel="stylesheet">
  <link href="css/lib/select2.css" type="text/css" rel="stylesheet">
  <link href="css/lib/bootstrap-datetimepicker.css" type="text/css" rel="stylesheet">
  <link href="css/lib/font-awesome.css" type="text/css" rel="stylesheet" />
  <!-- <link href="css/lib/jquery-ui-1.10.4.custom.min.css" type="text/css" rel="stylesheet" /> -->

  <!-- global styles -->
  <link rel="stylesheet" type="text/css" href="css/compiled/new-user.css">
  <link rel="stylesheet" type="text/css" href="css/compiled/layout.css">
  <link rel="stylesheet" type="text/css" href="css/compiled/elements.css">
  <link rel="stylesheet" type="text/css" href="css/compiled/icons.css">
  <!-- <link rel="stylesheet" type="text/css" href="css/select2.min.css"> -->

  <link href="css/lib/jquery-ui.min.css" type="text/css" rel="stylesheet" />
  <link href="css/lib/jquery-ui.structure.min.css" type="text/css" rel="stylesheet" />
  <link href="css/lib/jquery-ui.theme.min.css" type="text/css" rel="stylesheet" />

  <!-- this page specific styles -->
  <link rel="stylesheet" href="css/compiled/form-showcase.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="css/compiled/tables.css" type="text/css" media="screen" />

  <link rel="stylesheet" type="text/css" href="css/custom.css">
  <link rel="stylesheet" href="/js/fancybox/jquery.fancybox.css?v=2.1.5" type="text/css" />

  <!-- open sans font -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!-- lato font -->
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>

  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script type="text/javascript" src="{#SITE_URL#}/js/ckeditor/ckeditor.js"></script>
  <script src="{#SITE_URL#}/js/func.js"></script>
</head>
<body>