{include="header"}
<div class="row form-wrapper">
  {if="$type==20"}
    {include="material_brief"}
  {/if}
  <!-- left column -->
  <div class="col-md-12 column">
    <form name="frm" method="post" action="{$MODIFY_URL}" enctype="multipart/form-data" onsubmit="return checkForm(this);">
      <div class="field-box" id="div_sn">
        <div class="text">
          <label>教材編號:</label>
          <div class="col-md-6">
            <input class="form-control inline-input" type="text" name="sn" id="sn" value="{$sn}" readonly />
          </div>
        </div>
      </div>
      <div class="field-box" id="div_type">
        <div class="text">
          <label>類型<sup>*</sup>:</label>
          <div class="col-md-6">
            <input class="form-control inline-input" type="text" value="{$type_text}" readonly />
          </div>
        </div>
      </div>
      <div class="field-box" id="div_title">
        <div class="text">
          <label>教材名稱<sup>*</sup>:</label>
          <div class="col-md-6">
            <input class="form-control" type="text" name="title" id="title" value="{$title}" required />
          </div>
        </div>
      </div>
      <div class="field-box" id="div_eng_title">
        <div class="text">
          <label>英文名稱<sup>*</sup>:</label>
          <div class="col-md-6">
            <input class="form-control" type="text" name="eng_title" id="eng_title" value="{$eng_title}" required />
          </div>
        </div>
      </div>
      <div class="field-box" id="div_brief">
        <div class="text">
          <label>簡介:</label>
          <div class="col-md-6">
            {$editor_brief}
          </div>
        </div>
      </div>
      <div class="field-box" id="div_interest">
        <div class="text">
          <label>主題<sup>*</sup>:</label>
          <div class="col-md-9">
            {$interest_select}
          </div>
        </div>
      </div>
      <div class="field-box" id="div_level">
        <div class="text">
          <label>等級<sup>*</sup>:</label>
          <div class="col-md-9">
            {$level_select}
          </div>
        </div>
      </div>
      <div class="field-box" id="div_status">
        <div class="text">
          <label>狀態<sup>*</sup>:</label>
          <div class="col-md-6">
            {$status_select}
          </div>
        </div>
      </div>
      {if="$type!=20"}
      {$FILES}
      {/if}
      <!-- orders -->
      <div class="submit-box">
        <input type="submit" class="btn-glow primary" value="確認送出">&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="button" class="btn-glow" value="取 消" onClick="history.go(-1);">
      </div>
    </form>
  </div>
</div>
<!-- end left column -->
<script language="javascript">
function checkForm(frm)
{
  var lv0 = '{$level_a0}';

  var l = $('form[name=frm] input[name="interest[]"]:checked').length;
  if (l < 1)
  {
    alert('請至少選擇1個主題');
    return false;
  }
  if ($('[id*=level]:checked').val() != lv0)
  {
    if (l > 4)
    {
      alert('主題最多只能4個');
      return false;
    }
  }
  var l = $('form[name=frm] input[name="level[]"]:checked').length;
  if (l < 1)
  {
    alert('請至少選擇1個等級');
    return false;
  }
}
</script>
{include="footer"}