{include="header"}
<div class="row form-wrapper">
  {include="member_brief"}
  <div class="table-wrapper section">
    {include="table_header"}
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <table class="table table-hover">
          <thead>
          <tr>
            <th class="col-number">#</th>
            <th class="col-md" align="left">時間</th>
            <th class="col-md" align="left">類型</th>
            <th class="col-md" align="left">內容</th>
            <th class="col-md" align="left">操作者</th>
          </tr>
          </thead>
          <tbody>
          {if="isset($nodata)"}
          <tr>
            <td colspan="5" align="center" class="nodata">沒有資料</td>
          </tr>
          {else}
          {loop="$list"}
          <tr>
            <td align="right">{$value.i}</td>
            <td>{$value.cdate}</td>
            <td>{$value.subtype_text}</td>
            <td>{$value.content}</td>
            <td>{$value.creator_text}</td>
          </tr>
          {/loop}
          {/if}
          </tbody>
        </table>
      </div>
      <!-- end left column -->
    </div>
  </div>
  <!-- end left column -->
  {include="footer"}