{include="header"}
<div class="row form-wrapper">
  <!-- left column -->
  <div class="col-md-12 column">
    <form name="frm" method="post" action="{$ADD_URL}" enctype="multipart/form-data">
      <div class="field-box" id="div_version">
        <div class="text">
          <label>版本<sup>*</sup>:</label>
          <div class="col-md-6">
            <input class="form-control" type="text" name="version" id="version" value="{$version}" required />
          </div>
        </div>
      </div>
      <div class="field-box" id="div_begin">
        <div class="text">
          <label>開始使用日期<sup>*</sup>:</label>
          <div class="col-md-2">
            <input type="text" value="{$begin}" name="begin" id="begin" class="form-control date" picker="date" required />
          </div>
        </div>
      </div>
      <div class="field-box" id="div_end">
        <div class="text">
          <label>停止使用日期<sup>*</sup>:</label>
          <div class="col-md-2">
            <input type="text" value="{$end}" name="end" id="end" class="form-control date" picker="date" required />
          </div>
        </div>
      </div>
      <div class="field-box" id="div_content">
        <div class="text">
          <label>內容<sup>*</sup>:</label>
          <div class="col-md-6">
            {$editor_content}
          </div>
        </div>
      </div>
      <div class="field-box" id="div_status">
        <div class="text">
          <label>狀態<sup>*</sup>:</label>
          <div class="col-md-6">
              {$status_select}
          </div>
        </div>
      </div>
      <!-- orders -->
      <div class="submit-box">
        <input type="submit" class="btn-glow primary" value="確認送出">&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="button" class="btn-glow" value="取 消" onClick="history.go(-1);">
      </div>
    </form>
  </div>
</div>
<!-- end left column -->
{include="footer"}