{include="header"}
<div class="row form-wrapper">
  <!-- left column -->
  <div class="col-md-12 column">
    <form name="frm" method="post" action="{$UPDATE_URL}">
      <div class="field-box">
        <label>請輸入原密碼<sup>*</sup>:</label>
        <div class="col-md-4">
          <input class="form-control" type="password" name="old_password" id="old_password" value="" required>
        </div>
      </div>
      <div class="field-box">
        <label>請輸入新密碼<sup>*</sup>:</label>
        <div class="col-md-4">
          <input class="form-control" type="password" name="password" id="password" value="" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" required>
          <span>請輸入6個字元以上，大小寫有差別。必須包含!個數字、1個大寫英文字母、一個小寫英文字母</span>
        </div>
      </div>
      <div class="field-box">
        <label>請確認新密碼<sup>*</sup>:</label>
        <div class="col-md-4">
          <input class="form-control" type="password" name="password2" id="password2" value="" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" required>
        </div>
      </div>
      <div class="submit-box">
        <input type="submit" class="btn-glow primary" value="確認送出">&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="button" class="btn-glow" value="取 消" onClick="this.form.reset();">
      </div>
    </form>
  </div>
  <!-- end left column -->
</div>
{include="footer"}